/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
}

/* color definitions */
body {
  margin: 20px;
}
.table {
  width: auto;
}
.table th {
    padding-left: 20px;
}
.table td {
    padding: 20px 0 20px 10px;
    min-width: 150px;
    border: none;

}
.table td a {
  color: silver;
}
.nav-tabs > li > a, .nav-pills > li > a,
.nav-tabs > li > a, .nav-pills > li > a:hover {
    border-radius: 12px 0 0 12px;
}


.level0 {
  background: #222f3d;
}
.level1 {
  background: #34495e;
}
.level2 {
  background: #46627f;
}
.level3 {
  background: #587ca0;
}

.plus {
    color: white;
}

.panel {
    border-radius: 20px
}

.element-list li {
    position: relative;
    padding-left: 20px;
}


.plus {
    position: absolute;
    left: 0px;
    top: 5px;
}
.plus:hover {
    cursor: pointer;
}




/*.panel-last-true {*/
    /*border-radius: 0 20px 20px 0;*/
/*}*/

/*.bordered-true {*/
    /*border-style: solid;*/
    /*border-color: #ce1b94;*/
    /*border-right: none;*/
/*}*/

/*.bordered-false {*/
    /*border-style: none;*/
/*}*/
