/* IMPORT USEFULL BOOTSTRAP LESS FILES */
//@import "/app/components/bootstrap/less/variables.less";
@import "/app/styles/less/oscr-variables.less";
@import "/app/components/bootstrap/less/mixins.less";

/* COLOR VARIABLES */
@baseDarkest: darken(@baseDarker, 10%);
@baseDarker: @grayDark;
//@baseDarker: #696963;
@baseDark: lighten(@baseDarker, 10%);
@baseLight: lighten(@baseDarker, 20%);
@baseLighter: lighten(@baseDarker, 30%);
@baseLightest: lighten(@baseDarker, 40%);

//@blue: #009AE0;

//@bodyBackground: @baseDarker;

/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0; /* make things invisible upon start */
  -webkit-animation: fadeIn ease-in 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;

  -webkit-animation-fill-mode: forwards; /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  animation-duration: 0.5s;
}

// BUTTONS
// -----------------------------------------------------

.btn {
  //  .box-shadow(1px 1px 2px #111);
  .buttonBackground(darken(@gray, 20%), darken(@gray, 30%));
  color: @white;
  text-shadow: none;
  .border-radius(20px);
  &:hover {
    text-shadow: none;
    color: @white;
  }
}

.btn-primary {
  .buttonBackground(@blue, darken(@blue, 10%));
}

.btn-warning {
  .buttonBackground(lighten(@orange, 10%), @orange);
}

.btn-danger {
  .buttonBackground(lighten(@red, 10%), @red);
}

.btn-success {
  .buttonBackground(lighten(@green, 10%), @green);
}

.btn-info {
  .buttonBackground(darken(@gray, 40%), darken(@gray, 50%));
}

.btn-inverse {
  .buttonBackground(lighten(@purple, 5%), @purple);
}

.btn .caret {
  border-top: 4px solid black;
  opacity: 0.3;
}

.btn-group > .dropdown-menu > li > a:hover {
  border-bottom: 0;
}

.btn.disabled, .btn[disabled] {
  background-color: @grayLight;
}

/* grid */

.row-fluid {
  margin-bottom: @baseLineHeight*2;
}

/* color definitions */
body {
  background: @bodyBackground;
  margin: 20px;
  padding-top: 60px;
  color: @textColor;
}

.brand img {
  height: 24px;
  margin-right: 8px;
  vertical-align: text-bottom;
}

.user-nav {
  margin: 0;
  position: absolute;
  right: 30px;
  top: 5px;
  z-index: 20;
  > li > a {
    display: block;
    font-size: 14px;
    padding: 0px 6px !important;
  }
  li.active {
    background: @purple;
    a {
      background: transparent !important;
    }
  }
}

select#language-select {
  background: #222222;
  border: @grayDark;
  color: @grayLight;
}

#sidebar {
  //  background: #222;
  display: block;
  float: left;
  position: relative;
  width: 240px;
  z-index: 16;
}


#mainBody {
  margin-left: 260px;
  position: relative;
}


.page-header {
  font-weight: normal;
  border-color: @gray;
  margin-top: 0px;
}

/* MAIN NAVIGATION */

.nav-pills > li > a {
  border-radius: 20px 0 0 20px;
  color: @white;
  &.selected-true {
    color: @white;
  }
  &:hover {
//    background: transparent;
//    color: @blue;
  }
}

//.nav-pills > .active > a,
//.nav-pills > .active > a:hover {
//  background: @bodyBackground;
//}


ul.main-menu {
  background: @gray;
  border-radius: 20px;
  padding-left: 20px;
  padding-top: @baseLineHeight*1.5;
  padding-bottom: @baseLineHeight*1.5;
  &> li > a {
    color: @black
  }
  &:hover {
    background: @gray;
  }
  &> .active > a,
  &> .active > a:hover {
    background: @bodyBackground;
  }
}

.pointer {
  cursor: pointer;
}
//.nav-list > .active > a, .nav-list > .active > a:hover

/* DOCUMENT NAVBAR */

.navbar {
  &.document {
    .navbar-inner {
      .border-radius(20px);
    }

  }
}

/* LEVEL COLORS */

.level0 {
  background: @baseDarkest;
}

.level1 {
  background: @baseDark;
}

.level2 {
  background: @baseLight;
}

.level3 {
  background: @baseLighter;
}

.level4 {
  background: lighten(@baseLighter, 10%);
}

.level5 {
  background: lighten(@baseLighter, 15%);
}
#panel-container {
  max-width: 100%;
  overflow-x: auto;
}

/* CRM LINKS */

.link-title {

}

.link-value {
  background: linen;
  .border-radius(10px);
  color: @grayDarker;
  font-size: smaller;
  word-wrap: break-word;
  margin-top: @baseLineHeight/2;
  padding: 4px;
  p {
    margin: 8px 0 0 0;
    &:first-of-type{
      margin: 0;
    }
  }
}

/* PANELS TABLE */


.panels {
  background: transparent;
  width: auto;
  .panel-header {
    background: #009ae0;
    border-radius: 20px 20px 0 0;
    color: @baseDarkest;
    font-weight: normal;
    padding-left: 40px;
  }
  td.panel {
    padding: 20px 0 20px 10px;
    min-width: 250px;
    max-width: 350px;
    border-top: none;
    border-radius: 0 0 20px 20px;
  }
  .panel-input {
    padding: 0 20px;
  }
}


ul.panel-list {
   li {
     position: relative;
     padding-left: 30px;
     a, label {
       padding-right: 10px;
       &:hover {
         background: @grayDark;
         cursor: pointer;
       }
     }
   }

}

input#hidden {
  background: transparent;
  border: none;
  border-color: transparent;
  border-width: 0px;
  height: 10px;
  width: 10px;
  .opacity(0);
  position: absolute;
}

//.panel form {
//  margin: 8px 20px 20px 30px;
//  padding: 0;
//}

//.panel label {
//  color: #fffff0;
//}

.icon-container {
  position: absolute;
  left: 0px;
  top: 5px;
  width: 40px;
  .icon-item {
    display: inline-block;
  }
}



.documentation {
  position: absolute;
  left: 4px;
  top: 5px;
  width: 10px;
  height: 10px;
  cursor: help;
}

// key:value list
ul.kv-list {
  display: table;
  li {
//    display: table-row;
    span {
//      display: table-cell;
          display: inline-block;
      &.label {
//        background: green;
        text-align: right;
        margin-right: 10px;
        min-width: 50px;
      }
      &.value {
//        margin-left: 10px;
      }
    }
  }
}



/* STRIPED TABLE */

.table-striped tbody tr:nth-child(odd) td, .table-striped tbody tr:nth-child(odd) th {
  background-color: @baseLight;
}

/* HELP PANEL */

.legend {
  background: @gray;
  border: none;
  .border-radius(20px);
  color: @black;
}

.accordion-group {
  background: @white;
  border: 1px solid transparent;
//  border: none;
  .border-radius(20px);
  .accordion-inner {
    border-top: 1px solid @gray;
  }
}

/* EXPLANATIONS */

.explanation {
  textarea {
    width: 98%;
  }
  input {
    width: 98%;
  }
}