/* IMPORT USEFULL BOOTSTRAP LESS FILES */
@import "/app/styles/less/variables.less";

/* GRID VARIABLES */

@grid-columns:              12;
@grid-gutter-width:         20px;
@grid-float-breakpoint:     768px;

/* PADDING/MARGIN VARIABLES */

@br-small: 4px;
@br-med: 10px;
@br-large: 16px;
@baseBorderRadius: @br-med;

/* COLOR VARIABLES */

// Grays
// -------------------------
@black:                 #000;
@grayDarker:            #020202;
@grayDark:              #222;
@gray:                  #999;
@grayLight:             #ADAFAE;
@grayLighter:           #eee;
@white:                 #fff;

// Theme Colors
//@blue: #009AE0;
@bodyBackground: #ddd;
@tabContentBackground: none repeat scroll 0 0 #f6f6f6;

@blue:                  #33B5E5;
@blueDark:              #0099CC;
@green:                 #669900;
@red:                   #CC0000;
@yellow:                #ECBB13;
@orange:                #FF8800;
@pink:                  #FF4444;
@purple:                #9933CC;
@oscrBlue: #009ae0;

@baseDarkest: darken(@baseDarker, 10%);
@baseDarker: @grayDarker;
@base: @grayDark;
@baseDark: lighten(@baseDarker, 15%);
@baseLight: lighten(@baseDarker, 30%);
@baseLighter: lighten(@baseDarker, 45%);
@baseLightest: lighten(@baseDarker, 60%);
@delvingBlue: #009ae0;

// Scaffolding
// -------------------------
@bodyBackground:        #dddddd;
@textColor:             @grayDark;

@import "/app/styles/less/mixins.less";
@import "/app/styles/less/oscr-mixins.less";
@import "/app/styles/less/oscr-lists.less";
@import "/app/styles/less/utilities.less";
@import "/app/styles/less/responsive-utilities.less";
@import "/app/styles/less/widget-box.less";
@import "/app/styles/less/fade.less";
@import "/app/styles/less/document-panels.less";
@import "/app/styles/less/media-upload.less";
//@import "/app/styles/less/angular-motion.less";
@import "/app/styles/less/aside.less";

/* BODY */

body {
  background: @bodyBackground;
  margin: 0px 20px;
  padding-top: 70px;
  color: @gray-dark;
}


body.full-screen {
    #top-nav,
    .viewport-left {
        display:none;
    }
  .viewport-right {
    position: absolute;
    top: 10px;
    display: block;
    width: 100%;
    height: 100%;
  }
}

/* i18n */



/* NAVBAR TOP */

.navbar-header {
  .make-md-column(2);
}
.navbar-brand {
  padding: 12px 0;
  img {
    height: 24px;
    margin-right: 8px;
    vertical-align: text-bottom;
  }
}

/* NAVBAR LEFT */

.nav-left {
//  .list-group a {
//    color: @link-color;
//  }
  .user-info {
    background: @gray;
    a {
      color: @gray-lighter;
    }
    .border-top-radius(5px);
    font-size: smaller;
  }
  .media-heading {
    border-bottom: 0px;
  }
  gravatar-image {
    margin-right: 8px;
  }
  .label {
    font-size: @font-size-small;
    margin: 4px 0;
  }
}



//ul.main-menu {
//  background: @grayLight;
//  border-radius: @br-med;
//  padding-left: 8px;
//  padding-top: @line-height-base;
//  padding-bottom: @line-height-base*1.5;
//  &.nav-pills > li > a {
//    border-radius: @br-med 0 0 @br-med;
//    &.selected-true {
//      color: @white;
//    }
//  }
//  &> li > a {
//    color: @black;
//    .icon {
//      margin: 0 4px 0 0;
//    }
//  }
//  &> .active > a,
//  &> .active > a:hover {
//    background: @bodyBackground;
//    color: @gray;
//  }
//  .nav-header {
//    color: @white;
//    text-shadow: none;
//  }
//  .media {
//    background: @gray;
//    .border-radius(10px 10px 0 0);
//
//    padding: 8px;
//    margin: -20px 0 10px -8px;
//    a {
//      color: @grayDarker;
//      &:hover {
//        text-decoration: none;
//      }
//    }
//    .media-body {
//      padding-left: 4px;
//    }
//    .media-heading {
//      font-weight: bold;
//      margin-bottom: 0px;
//    }
//    img {
//      .border-radius(10px);
//    }
//  }
//}

/* PAGE HEADERS */

.page-header {
  border-color: @grayLight;
  margin-top: 0px;
  margin-bottom: @line-height-base;
  text-shadow:1px 1px 2px #FFFFFF;
  padding: 0 0 0 0;
  h1 {
    color: @gray;
    font-weight: 200;
    font-size: 28px;
    letter-spacing: 1px;
    line-height: 28px;
  }
  &.sub-header {
    h2{
      color: @gray;
      font-weight: 200;
      font-size: 21px;
      letter-spacing: 1px;
      line-height: 21px;
    }
  }
}

/* THUMBNAIL MEDIA GRID */

.thumbnail {
  .box-sizing(border-box);
  a {
    color: inherit;
    display:block;
    height: 100%;
    width: 100%;
    &:hover {
      text-decoration: none;
    }
  }
  .media {
    img {
      width: 100px;
    }
  }
  .media-heading {
    color: @link-color;
    font-weight: bold;
  }
}

.thumbnail-nav {
  background: @gray-dark;
  .border-radius(@border-radius-base);
  padding: @padding-base-vertical @padding-base-horizontal;
  .clearfix();
  .thumbnail {
    height: 140px;
    position:relative;
  }
  a {
    display: block;
  }
  img {
     max-height: 100px;
  }
  .mime {
    position: absolute;
    bottom: 0px;
  }
}

.media-viewer {
  background: @gray-dark;
  .border-radius(8px);
  margin-bottom: @navbar-margin-bottom;
  padding: 10px;
  .media-item {
    text-align: center;
    .navbar {
      text-align: left;
    }
  }
  img, canvas {
    max-width: 100%;
  }
}

.media-thumbnails {
  color: @gray-lighter;
  .clearfix();
  li {
    background: @gray-light;
    text-align: center;
    vertical-align: middle;
    width: 100px;
    height: 100px;
    padding: 4px 4px 26px 4px;
    position: relative;
    margin-right: 1px;
    // force padding first-of-type overwrite bootstrap list-unstyled
    &:first-of-type {
      padding: 4px 4px 26px 4px;
    }
  }
  .mime {
    background: @black;
    height: 22px;
    padding: 4px;
    font-size: 10px;
    position: absolute;
    bottom: 0px;
    right: 0;
    left: 0;
  }
  img {
    max-width: 100%;
    max-height: 100%;
  }
  &.large  {
    li {
      width: 120px;
      height: 120px;
    }
    .mime {
      font-size: 12px;
    }
  }

}

/* DOCUMENT LIST */

.navbar-document-list {
  form {
    margin: 0 0 0 0;
  }
   .new-document {
     margin-right: 10px;
   }
}

.table-oscr {
  background: @white;
}


/* DOCUMENT LIST */

.table-oscr {
  background: @gray-dark;
  .border-top-radius(4px);
  width: 100%;
  thead {
    color: @gray-light;
    tr > th {
      border-bottom: none;
      font-weight: normal;
      &:first-of-type {
        .border-top-radius(4px);
      }
    }
  }
  tbody {
    background: @white;
    color: @gray;
  }
  ul {
    margin: 0;
  }
}

/* DOCUMENT EDIT */

.tabbable {
  background: transparent;
  margin-bottom: 20px;
  margin-right: 10px;
  .nav-tabs {
    margin-bottom: 0px;
    margin-left: 10px;
    li a {
      background: @bodyBackground;
    }
    li:hover{
      cursor: pointer;
    }
    > .active > a {
      background: @tabContentBackground;
    }
  }
  .tab-content {
    background: @tabContentBackground;
    padding: 10px;
    .border-top-radius(@border-radius-base);
    .border-bottom-radius(@border-radius-base);
  }
}

.document-controls {
  ul li {
    padding: 0;
  }
  .document-info {
    font-size: smaller;
    padding: 2px 6px;
    line-height: 14px;
    text-align: left;
    &:hover {
      cursor: default;
    }
  }

}

.document-saved,
.document-last-saved {
  display: block;
  position: absolute;
  padding-top: 10px;
  padding-bottom: 10px;
  top: -10px;
  right: 24px;
}

.document-content {
  overflow: hidden;
  overflow-y: auto;
  min-height: 600px;
}


/* DOCUMENT-VIEW */

.indent {
  margin-left: 30px;
  legend {
    border-bottom: none;
    margin-bottom: 0px;
  }
}

.document-metadata {
  background: @white;
  .border-radius(@border-radius-large);
  padding: @padding-large-vertical*2 @padding-base-horizontal*2;
}

/* VOCABUARY / INSTANCES CONTROLS */

.vocabulary-controls {
//  color: @gray;
  label {
    display: inline-block;
  }
  .value {
//    color: @gray-dark;
  }
  .detail-controls {
    height:  @line-height-base;
    line-height: @line-height-base;
    padding: @padding-base-vertical @padding-base-horizontal;
    background: @black;
    .border-radius(6px);
    .box-sizing(border-box);
    margin-right: 10px;
    label {
      color: @gray-light;
    }
  }
}

.vocabulary-extended table {
  background: lighten(@brand-warning, 30%);
}

.vocabulary-list {
  > li > a {
    padding: 3px 8px;
  }
  > li > a:hover + .vocabulary-extended table {
    background: lighten(@blue, 35%);
  }
}

.table-vocabulary-details {
  color: darken(@gray,10%);
  margin-right: 10px;
  font-size: smaller;
  tbody > tr > th {
    padding-left: 8px;
  }
}

/* EXPERT INPUT FORM */

.expert-left-col {
  .make-lg-column(6);
}

.expert-right-col {
  .make-lg-column(6);
  position:relative;
}

.form-expert {
//  background: @grayDark;
//  color: @grayLighter;
//  margin-top: 0px;
//  margin-left: -10px;
//  margin-right: -10px;
//  margin-bottom: -10px;
//  .form-inner {
//    padding: 10px;
//  }
  .form-header {
    background: @brand-primary;
    .border-radius(6px);
    color: @white;
    display: block;
    font-size: 18px;
    margin-bottom: @navbar-margin-bottom;
    padding: 6px 10px;
  }
  .border-radius( 0 0 10px 10px);
  legend {
//    color: @grayLighter;
    border-color: lighten(@gray-light, 25%);
//    border: none;
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
  }
  .vocabulary-controls {
    position: absolute;
    width: 100%;
    z-indez: @zindex-dropdown;
  }
}

.expert-media-controls {
  position: absolute;
}

@media (max-width: 1350px) {
  .expert-media-controls {
    position: static;
  }
  .form-expert .vocabulary-controls {
    position: static;
  }
}


/* COMMUNITY / DASHBOARD / WIDGETS */

.statistics .label.count {
  float: right;
}

/* USER MANAGEMENT */

.user-management .widget-body {
  min-height: 150px;
}

/* chat */
//
.oscr-chat {
  .list-chat {
    margin-bottom: 21px;
  }
  .widget-body {
    max-height: 200px;
    overflow-y: auto;
  }
  .message-time {
    font-size: smaller;
  }
}

@import "/app/styles/less/video-player.less";




