.list-key-value {
  .key {
     color: @gray;
  }
  .value {
    color: @gray-dark;
    padding-left: 4px;
  }
}

/*bootstrap overrides */
.nav-left {
  margin: 0 0 0 0;
  .list-group-item {
    padding: @padding-base-vertical @padding-base-horizontal;
    &.active {
      background: @gray-lighter;
      color: @gray-dark;
      border: none;
      .glyphicon {
        color: @brand-primary;
      }
    }

  }
  .glyphicon {
    color: @gray;
    margin-right: 8px;
  }
  .badge-translate .glyphicon {
    margin: 0;
  }
  .label {
    float:right;
  }
  .list-group-item-heading {
    background: @gray-dark;
    color: @gray-light;
//    font-weight: bold;
    padding: @padding-base-vertical @padding-base-horizontal;
    margin-bottom: 0px;
  }
}

.dropdown-menu > li > a:hover {
  background: @brand-primary;
  color: @white;
}


