.list-key-value {
  .key {
     color: @gray;
  }
  .value {
    color: @gray-dark;
    padding-left: 4px;
  }
}

.list-tags {
  li {
//    margin: 0;
    padding: 0 4px 2px 0;
  }
}

/*bootstrap overrides */

.dropdown-menu > li > a:hover {
  background: @brand-primary;
  color: @white;
}


