/* WIDGET BOX */

.widget-box {
  background: none repeat scroll 0 0 #f6f6f6;
  margin-bottom: 16px;
  position: relative;
  dl {
    margin-top: 0px;
  }
  .list-group-item {
    background: transparent;
  }
}

.widget-title {
  background: @gray-light;
  height: 36px;
  .icon {
    border-right: 1px solid @body-bg;
    color: @gray-lighter;
    padding: 8px 10px 6px 11px;
    float: left;
  }
  .action {
    border-left: 1px solid @body-bg;
    padding: 9px 10px 7px 11px;
    float: right;
    .close {
      color: @gray-light;
      margin-top: -1px;
      .opacity(100);
    }
  }
  .label {
    padding: 3px 5px 4px;
    float: right;
    margin: 9px 15px 0 0;
  }
  h5 {
    float: left;
    font-size: 12px;
    font-weight: bold;
    padding: 12px;
    line-height: 12px;
    margin: 0;
    span {
//      color: @gray-lighter;
    }
  }
  .buttons {
    float: right;
    margin: 8px 10px 0 0;
  }
}

.widget-body {
  clear: both;
  color: @gray-dark;
  font-size: @font-size-small;
  padding: 6px;
  overflow-y: auto;
//  max-height: 350px;
  .box-sizing(border-box);
  &.widget-tall {
    max-height: 1200px;
  }
}

.widget-content {
  padding: 12px 15px;
}

.widget-footer {
  //  #gradient .vertical(@white, @grayLighter);
  border-top: 1px solid #ccc;
  padding: 4px;
}
