<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" xmlns:ng="http://angularjs.org"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>OSCR</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/bootstrap.css"/>
    <!--<link rel="stylesheet" href="style/mediaelements/mediaelementsplayer.css"/>-->
    <link rel="stylesheet" href="styles/main.css"/>
    <!-- endbuild -->
    <style>
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none;
        }
    </style>
</head>
<body>
<!--[if lt IE 7]>
<p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser
    today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better
    experience this site.</p>
<![endif]-->

<!--[if lt IE 9]>
<script src="components/es5-shim/es5-shim.js"></script>
<script src="components/json3/lib/json3.min.js"></script>
<![endif]-->

<!-- APPLICATION CONTAINER -->
<div ng-app="OSCR" ng-controller="GlobalController" ng-cloak class="ng-cloak" id="ng-app">
    <div ng-controller="I18NController" class="loggedin-{{ user != undefined }}">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="top-nav">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-collapse-top">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href data-ng-click="choosePath('/public')" class="navbar-brand">
                        <img src="img/logo.png"/>Delving OSCR
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="navigation-collapse-top">
                    <ul class="nav navbar-nav" data-ng-hide="user">
                        <li>
                            <a href data-ng-click="choosePath('/login')" title="" i18n="Login">
                                <span class="i18n"/>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.brabantcloud.eu/registration" target="_blank">
                                <span i18n="Register"><span class="i18n"/></span>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav" data-ng-show="user">
                        <li class="dropdown" data-ng-hide="user.viewer">
                            <a class="dropdown-toggle" data-toggle="dropdown" href i18n="NewDocument">
                                <i class="glyphicon glyphicon-file"></i> <span class="i18n"></span>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <li data-ng-repeat="schema in schemaMap.primary">
                                    <a tabindex="-1" href data-ng-click="newDocument(schema)">{{ schema }}</a>
                                </li>
                                <li class="divider" data-ng-show="user.god"></li>
                                <li data-ng-repeat="schema in schemaMap.shared" ng-show="user.god">
                                    <a tabindex="-1" href data-ng-click="newDocument(schema)">{{ schema }}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav" id="user-controls" ng-show="user.Membership.Role == 'Administrator'">
                        <li>
                            <a href ng-click="choosePath('/people')" i18n="GroupManagement">
                                <i class="glyphicon glyphicon-user"></i> <i class="glyphicon glyphicon-user"></i> <span class="i18n"/>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav" id="god-controls" data-ng-show="user.god">
                        <li>
                            <a href="/snapshot">
                                <i class="glyphicon glyphicon-compressed"></i> <span>Get Snapshot</span>
                            </a>
                        </li>
                        <li>
                            <a data-ng-href="/#/lang/{{config.interfaceLanguage}}">
                                <i class="glyphicon glyphicon-globe"></i> <span i18n="Translations"><span class="i18n"/> [{{ config.interfaceLanguage }}]</span>
                            </a>
                        </li>
                        <li>
                            <a href ng-click="toggleTranslationEditor()" ng-class="{'btn-warning': config.showTranslationEditor}">
                                <i class="glyphicon glyphicon-globe"></i> <span i18n="TranslateUi"><span class="i18n"/></span>
                            </a>
                        </li>
                    </ul>
                    <form class="navbar-form pull-right">
                        <select class="form-control" id="language-select" data-ng-model="config.interfaceLanguage" data-ng-options="l.code as l.name for l in config.interfaceLanguages">
                            <option value="">-- Language --</option>
                        </select>
                    </form>
                </div>
            </div>
        </nav>
        <div class="viewport row">
            <div class="viewport-left col-md-2" data-ng-show="user">
                <div class="sidebar-nav">

                   <div class="list-group nav-left">
                        <div class="list-group-item-heading user-info">
                            <div class="media">
                                <div class="pull-left">
                                    <a href data-ng-click="chooseUserPath(user.Identifier)">
                                        <gravatar-image data-email="user.Profile.email" data-size="32" data-default="mm" data-secure="false"></gravatar-image>
                                    </a>
                                </div>
                                <div class="media-body">
                                    <div class="media-heading">
                                        <a href data-ng-click="chooseUserPath(user.Identifier)">
                                            <span>{{ user.Profile.firstName }}</span>
                                            <span>{{ user.Profile.lastName }}</span>
                                        </a>
                                    </div>
                                    <div data-ng-if="user.group">
                                        <a ng-href="/#/people/group/{{ user.Membership.GroupIdentifier }}">
                                            <span i18n="Group" class="strong"><span class="i18n"/></span>:{{ user.group.Name }}
                                        </a>
                                        <span class="pull-left label label-default label-{{ user.Membership.Role }}">{{ user.Membership.Role }}</span>
                                    </div>
                                    <div data-ng-if="!user.group" i18n="NotMemberOfGroup">
                                        <span class="label i18n"/><br/>
                                    </div>
                                    <a href ng-click="logout()" title="" class="btn btn-inverse btn-xs btn-logout" i18n="Logout">
                                        <i class="glyphicon glyphicon-off"></i> <span class="i18n"/>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- Base links -->
                        <a href data-ng-click="choosePath(link.path)" class="list-group-item" data-ng-repeat="link in mainMenuBase" data-ng-class="{ active: link.active }">
                             <i data-ng-show="link.icon" class="glyphicon {{ link.icon }}"></i>
                                {{ link | linkTitle }}
                            <span data-ng-show="config.showTranslationEditor"
                                data-ng-click="openLabelDialog(link)"
                                tooltip="Click to translate"
                                tooltip-placement="right"
                                class="badge badge-warning badge-translate">
                                <i class="glyphicon glyphicon-globe"></i>
                            </span>
                        </a>
                        <!-- Primary document links -->
                        <div class="list-group-item-heading" i18n="PrimaryDocuments" data-ng-show="mainMenuPrimary.length">
                            <span class="i18n"/>
                        </div>
                        <a  href data-ng-click="choosePath(link.path)" class="list-group-item" data-ng-repeat="link in mainMenuPrimary" data-ng-class="{ active: link.active }">
                                <i data-ng-show="link.icon" class="glyphicon {{ link.icon }}"></i>
                                {{ link | linkTitle }}
                                <span class="badge badge-info pull-right">{{ link.count }}</span>

                            <span data-ng-show="config.showTranslationEditor"
                                  data-ng-click="openLabelDialog(link)"
                                  tooltip="Click to translate"
                                  tooltip-placement="right"
                                  class="badge badge-warning badge-translate">
                                <i class="glyphicon glyphicon-globe"></i>
                            </span>
                        </a>
                        <!-- Shared document links -->
                        <div class="list-group-item-heading" i18n="SharedDocuments" data-ng-show="mainMenuShared.length">
                            <span class="i18n"/>
                        </div>
                        <a href data-ng-click="choosePath(link.path)" class="list-group-item"  data-ng-repeat="link in mainMenuShared" data-ng-class="{ active: link.active }" data-ng-show="user.god">
                            <i data-ng-show="link.icon" class="glyphicon {{ link.icon }}"></i>
                                {{ link | linkTitle }}
                                <span class="badge badge-info pull-right">{{ link.count }}</span>

                                <span data-ng-show="config.showTranslationEditor"
                                      data-ng-click="openLabelDialog(link)"
                                      tooltip="Click to translate"
                                      tooltip-placement="right"
                                      class="badge badge-warning badge-translate">
                                    <i class="glyphicon glyphicon-globe"></i>
                                </span>
                        </a>
                        <!-- Recent document links -->
                        <div data-ng-show="recent.length > 0" class="list-group-item-heading" i18n="RecentDocuments">
                            <span class="i18n"/>
                        </div>
                        <a href data-ng-click="choosePath(link.path)" class="list-group-item" data-ng-repeat="link in recent" data-ng-class="{ active: link.active }">
                                <i class="glyphicon glyphicon-file"></i>
                                {{ link | linkTitle }}
                                <span class="badge badge-important" ng-if="link.leased">
                                    <i class="glyphicon glyphicon-lock"></i>
                                </span>
                            </a>
                    </div>
                    <div data-ng-include="getInclude()"></div>
                </div>
            </div>
            <!--{{ !user }}-->
            <div class="viewport-right" data-ng-class="{'col-md-12' : !user, 'col-md-10' : user }">
                {{ user.length }}
                <div class="alert alert-danger fade-in" data-ng-show="globalError">
                    {{ globalError }}
                </div>
                <div data-ng-view id="view"><!-- Angular views are rendered here --></div>
            </div>
        </div>
    </div>
</div>

<!-- build:js scripts/scripts.js -->
<script src="components/jquery/jquery.min.js"></script>
<script src="components/angular/angular.js"></script>
<script src="components/angular-route/angular-route.js"></script>
<script src="components/underscore/underscore.js"></script>
<script src="components/angular-cookies/angular-cookies.js"></script>
<script src="components/x2js/xml2json.js"></script>
<script src="components/bootstrap/js/alert.js"></script>
<script src="components/bootstrap/js/collapse.js"></script>
<script src="components/angular-bootstrap/ui-bootstrap.js"></script>
<!--<script src="components/media-elements/js/mediaelement-and-player.js"></script>-->
<script src="scripts/video-js/video.js"></script>
<!-- endbuild -->

<script src="components/pdf-viewer/pdf.compat.js"></script>
<script src="components/pdf-viewer/pdf.js"></script>

<!-- build:js scripts/oscr.js -->
<script src="scripts/app.js"></script>
<script src="scripts/controllers/global.js"></script>
<script src="scripts/controllers/i18n.js"></script>
<script src="scripts/controllers/public.js"></script>
<script src="scripts/controllers/people.js"></script>
<script src="scripts/controllers/community.js"></script>
<script src="scripts/controllers/document-list.js"></script>
<script src="scripts/controllers/document-edit.js"></script>
<script src="scripts/controllers/media.js"></script>
<script src="scripts/controllers/element-edit.js"></script>
<script src="scripts/controllers/vocabulary-edit.js"></script>
<script src="scripts/controllers/user-view.js"></script>
<script src="scripts/controllers/group-view.js"></script>
<script src="scripts/controllers/lang-edit.js"></script>
<script src="scripts/services/statistics-service.js"></script>
<script src="scripts/services/person-service.js"></script>
<script src="scripts/services/i18n-service.js"></script>
<script src="scripts/services/vocabulary-service.js"></script>
<script src="scripts/services/document-service.js"></script>
<script src="scripts/validator.js"></script>
<script src="scripts/utils.js"></script>
<script src="components/angularjs-gravatar/src/gravatar-directive.js"></script>
<script src="components/angularjs-gravatar/src/md5-service.js"></script>
<script src="components/pdf-viewer/ng-pdfviewer.js"></script>
<!-- endbuild -->

<!-- build:js scripts/fileupload.js -->
<!-- fileupload -->
<script src="components/blueimp-load-image/js/load-image.min.js"></script>
<script src="components/blueimp-file-upload/js/vendor/jquery.ui.widget.js"></script>
<script src="components/blueimp-file-upload/js/jquery.iframe-transport.js"></script>
<script src="components/blueimp-file-upload/js/jquery.fileupload.js"></script>
<script src="components/blueimp-file-upload/js/jquery.fileupload-process.js"></script>
<script src="components/blueimp-file-upload/js/jquery.fileupload-image.js"></script>
<script src="components/blueimp-file-upload/js/jquery.fileupload-video.js"></script>
<script src="components/blueimp-file-upload/js/jquery.fileupload-validate.js"></script>
<script src="components/blueimp-file-upload/js/jquery.fileupload-angular.js"></script>
<!-- endbuild -->
</body>
</html>