<accordion>
    <accordion-group is-open="true">
        <accordion-heading>
            <h5 i18n="StatusIndication"><span class="i18n">Status indication</span></h5>
        </accordion-heading>
        <ul class="unstyled">
            <li i18n="StatusEmpty"><span class="icon-item status status-0"></span> <span class="i18n">Status Empty</span></li>
            <li i18n="StatusOkay"><span class="icon-item status status-1"></span> <span class="i18n">Status Okay</span></li>
            <li i18n="StatusIncomplete"><span class="icon-item status status-2"></span> <span class="i18n">Status Incomplete</span></li>
            <li i18n="StatusInvalid"><span class="icon-item status status-3"></span> <span class="i18n">Status Invalid</span></li>
        </ul>
    </accordion-group>
    <accordion-group>
        <accordion-heading>
            <h5 i18n="Navigation"><span class="i18n">Navigation</span></h5>
        </accordion-heading>
        <p>You can navigate through the elements in the panels in two ways:</p>
        <ol>
            <li>By clicking on a element name with your mouse</li>
            <li>By using the arrow keys on your keyboard</li>
        </ol>
    </accordion-group>
    <accordion-group>
        <accordion-heading>
            <h5 i18n="Editing"><span class="i18n">Editing</span></h5>
        </accordion-heading>
        <p>When an element field does not contain a value, you will see an input field which will be automatically in focus.
        You enter a value with your keyboard and then complete the action in one of two ways:</p>
        <ol>
            <li>click on "Yes" with your mouse</li>
            <li>Or with the keyboard:
                <ul>
                    <li>regular text input: press [ENTER]</li>
                    <li>textarea (for longer descriptions) press [TAB] and then [ENTER]</li>
                </ul>
            </li>
        </ol>
    </accordion-group>
</accordion>