<div id="panel-container" ng-controller="DocumentPanelArrayController">
    <p ng-hide="panels" i18n="NoDocumentToEdit"></p>
    <table class="table panels" id="panel-table" ng-show="panels">
        <thead>
        <tr>
            <th ng-repeat="panel in panels" class="panel-header">{{ panel.element | elementTitle }}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td ng-repeat="(panelIndex, panel) in panels" ng-controller="DocumentPanelController"
                class="level{{$index}} bordered-{{!$first}} panel panel-last-{{$last}}"
                document-navigation="navigationKeyPressed($key)">
                <!-- panel showing the document element titles -->
                <ul ng-show="el.elements" class="nav nav-pills nav-stacked panel-list">
                    <li ng-repeat="element in el.elements">
                        <a class="level{{ element.classIndex }} link-{{ element.name }}"
                           ng-click="choose($index, $parent.$index)">
                            <!-- element title/label -->
                            <div class="link-title">
                                {{ element | elementTitle }}
                                <!-- // Translation editor toggle -->
                                <span ng-show="config.showTranslationEditor"
                                      ng-click="openTitleDialog(element)"
                                      tooltip="Click to translate"
                                      tooltip-placement="right"
                                      class="badge badge-warning badge-i18n">
                                      <i class="icon-translate icon-white"></i>
                                </span>
                            </div>
                            <!-- element value -->
                            <div class="link-value" ng-show="element.valueVisible && config.showInlinePreview">
                                <div ng-show="element.config.media" class="link-thumbnail">
                                        <img ng-src="{{ element | mediaThumbnail }}" />
                                </div>
                                <div ng-hide="element.config.media">
                                    <!-- TODO: create line breaks for multiline content like textarea display for longer texts -->
                                    {{ element | elementDisplay }}
                                </div>
                            </div>
                        </a>
                        <!-- indicator icons -->
                        <div class="icon-container">
                            <span class="icon-item status status-{{ element.invalid }}"></span>
                            <span ng-show="element.config.multiple"
                                  tooltip-placement="bottom"
                                  tooltip="Add {{ element | elementTitle }}"
                                  class="display-{{ element.config.multiple }} icon-item pointer"
                                  ng-click="addSibling(el.elements, $index, panelIndex)">
                                <i class="icon-plus-sign icon-white"></i>
                            </span>
                            <span ng-show="element.config.multiple"
                                  tooltip-placement="bottom"
                                  tooltip="Remove {{ element | elementTitle }}"
                                  class="display-{{ element.config.multiple }} icon-item pointer"
                                  ng-click="removeSibling(el.elements, $index, panelIndex)">
                                <i class="icon-minus-sign icon-white"></i>
                            </span>
                        </div>

                    </li>
                </ul>

                <!-- panel for user input -->
                <div class="panel-input">
                    <!--choose file input -->
                    <div ng-show="el.config.media" ng-controller="MediaController" class="digital-object-input">
                        <div ng-hide="el.elements">
                            <div ng-show="el.edit">
                                <tabset class="media-tabs">
                                    <tab>
                                        <tab-heading>
                                            <span class="nav-tabs" i18n="UploadedFiles" ng-click="refreshImagList()"><span class="i18n"/></span>
                                        </tab-heading>
                                        <div ng-show="mediaList" class="oscr-media-grid">
                                            <div class="thumbs">
                                        <span class="thumb-container" ng-show="entry.Header.Identifier" data-ng-repeat="entry in mediaList" >
                                               <img id="oscr-media-grid-thumb-{{$index}}" ng-src="/media/thumbnail/{{ entry.Header.Identifier }}"ng-click="selectMedia(entry)" data-ng-mouseenter="showImagePreview($index)" data-ng-mouseleave="hideImagePreview($index)"/>
                                                <span class="large fade-in" id="oscr-media-grid-big-{{$index}}">
                                                    <img ng-src="/media/fetch/{{ entry.Header.Identifier }}"/>
                                                </span>
                                        </span>
                                            </div>
                                        </div>
                                    </tab>
                                    <tab>
                                        <tab-heading>
                                            <span class="nav-tabs" i18n="MediaUpload"><span class="i18n"/></span>
                                        </tab-heading>
                                        <div data-ng-controller="MediaUploadController" data-ng-include="'views/media-lite.html'"></div>
                                    </tab>
                                </tabset>
                                <!--<a href ng-click="openImageUploadDialog()" i18n="MediaUpload" class="btn btn-small pull-right inline-upload">-->
                                    <!--<i class="icon icon-upload"></i> <span class="i18n"></span>-->
                                <!--</a>-->

                                <!--<div ng-show="mediaList" class="oscr-media-grid">-->
                                    <!--<div class="thumbs">-->
                                        <!--<span class="thumb-container" ng-show="entry.Header.Identifier" data-ng-repeat="entry in mediaList" >-->
                                               <!--<img id="oscr-media-grid-thumb-{{$index}}" ng-src="/media/thumbnail/{{ entry.Header.Identifier }}"ng-click="selectMedia(entry)" data-ng-mouseenter="showImagePreview($index)" data-ng-mouseleave="hideImagePreview($index)"/>-->
                                                <!--<span class="large fade-in" id="oscr-media-grid-big-{{$index}}">-->
                                                    <!--<img ng-src="/media/fetch/{{ entry.Header.Identifier }}"/>-->
                                                <!--</span>-->
                                        <!--</span>-->
                                    <!--</div>-->
                                <!--</div>-->
                            </div>
                            <div ng-show="!el.edit">
                                <div ng-click="enableMediaEditor()" tooltip-placement="right" tooltip="Click to edit" class="pointer chosen-value" tabindex="0">
                                    <div ng-hide="el.value">
                                        <span>?</span>
                                    </div>
                                    <div ng-show="el.value">
                                        <ul class="unstyled kv-list">
                                            <li ng-show="el.value.Identifier">
                                                <img ng-src="{{ el | mediaThumbnail }}"/>
                                            </li>
                                            <li ng-repeat="line in el.valueFields">
                                                <span class="label" i18n="{{ line.prompt }}">Prompt</span>
                                                <span class="value">{{ line | mediaLabel }}</span>
                                            </li>
                                        </ul>
                                        <button ng-click="enableMediaEditor()" class="btn btn-small"><i class="icon-edit"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- vocabulary input -->
                    <div ng-show="el.config.vocabulary" ng-controller="VocabularyController" class="vocabulary-input">
                        <div ng-hide="el.elements">
                            <div ng-show="el.edit">
                                <input focus id="vocabulary" type="text" ng-model="chosenEntry" class="input-block-level" typeahead="entry as entryToString(entry) for entry in getEntries($viewValue)"/>
                                <span i18n="New">
                                    <button ng-show="!el.elements" ng-click="createNew($index, $parent.$index)" class="btn btn-warning btn-small">
                                        <i class="icon-white icon-plus-sign"></i>
                                        <span class="i18n"/>
                                    </button>
                                </span>
                            </div>
                            <div ng-show="!el.edit">
                                <div ng-click="enableClearedEditor()" tooltip-placement="right" tooltip="Click to edit"
                                     class="pointer chosen-value" tabindex="0">
                                    <div ng-hide="el.value">
                                        <span>?</span>
                                    </div>
                                    <div ng-show="el.value">
                                        <ul class="unstyled kv-list">
                                            <li>
                                                <span class="value" style="font-size: large">{{ el.valueFieldLabel.value }}</span><br/>
                                                <span class="value" style="font-size: smaller">({{ el.valueFieldIdentifier.value }})</span>
                                            </li>
                                            <li ng-repeat="line in el.valueFields">
                                                <span class="label" i18n="{{ line.prompt }}"><span class="i18n"/></span>
                                                <span class="value" style="font-size: large">{{ line.value }}</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <button ng-click="enableClearedEditor()" class="btn btn-small"><i class="icon-edit"></i></button>
                            </div>
                        </div>
                        <div ng-show="el.elements">
                            <span i18n="Create">
                                <button ng-click="submitNew()" class="btn btn-small btn-success">
                                    <i class="icon-download-alt icon-white"></i>
                                    <span class="i18n"></span>
                                </button>
                            </span>
                            <span i18n="Cancel">
                                <button ng-click="cancelNew()" class="btn btn-small btn-danger">
                                    <i class="icon-remove-circle icon-white"></i>
                                    <span class="i18n"></span>
                                </button>
                            </span>
                        </div>
                    </div>

                    <div ng-show="el.config.line && !el.elements" ng-controller="TextInputController" class="input-block-level">
                        <div ng-show="el.edit">
                            <input focus id="textInput" class="input-block-level" type="text" ng-model="el.value" />
                            <div ng-show="el.invalidMessage">
                            <span class="label label-important">{{ el | invalidMessage }}</span>
                            <!-- // Translation editor toggle -->
                            <span ng-show="config.showTranslationEditor"
                                  ng-click="openLabelDialog(el.invalidMessage)"
                                  tooltip="Click to translate"
                                  tooltip-placement="right"
                                  class="badge badge-warning badge-i18n">
                                  <i class="icon-translate icon-white"></i>
                            </span>
                            </div>
                        </div>
                        <div ng-hide="el.edit">
                            <div class="input-append">
                            <input  type="text" ng-click="enableEditor()" value="{{el.value}}"/>
                            <span class="add-on" ng-click="enableEditor()"><i class="icon-edit"></i></span>
                            </div>
                        </div>

                    </div>

                    <div ng-show="el.config.paragraph && !el.elements" class="textarea-input"
                         ng-controller="TextAreaController">
                        <div ng-show="el.edit">
                            <textarea focus id="textArea" ng-model="el.value" rows="5"></textarea>
                            <br/>
                            <button ng-click="disableEditor()" class="btn btn-small"><i class="icon-ok-circle"></i>Yes</button>
                        </div>
                        <div ng-hide="el.edit">
                            <div ng-click="enableEditor()" tooltip-placement="right" tooltip="Click to edit"
                                 class="pointer chosen-value" tabindex="0">
                                <div ng-hide="el.value">
                                    <span>?</span>
                                </div>
                                <div ng-show="el.value">
                                    <div ng-repeat="line in el.value.split('\n')">
                                        <span>{{ line }}</span><br/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div ng-hide="el.elements">
                        <div ng-hide="annotationMode">
                            <h5 class="contrast" i18n="FieldDocumentation"><span class="i18n">Field Documentation</span></h5>

                            <div class="widget-box">
                                <div class="widget-title">
                                    <span class="icon"><i class=" icon-info-sign"></i></span>
                                    <h5>{{ el | elementTitle }}</h5>
                                </div>
                                <div class="widget-body">
                                    <p ng-show="el.doc">{{ el | elementDoc }}</p>
                                </div>
                                <div class="widget-footer">
                                    <button ng-click="openDocDialog(el)" class="btn btn-small"><i class="icon-edit"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <input id="hidden" ng-controller="HiddenController" focus/>
            </td>
        </tr>
        </tbody>
    </table>

</div>