<div class="fade-in">

    <h1 class="page-header"><span ng-bind="mainMenu.activeLabel"></span></h1>
    <!--<input type="file" accept="video/*" capture="camera">-->
    <div class="row-fluid">
        <div class="span4">
            <h4>Upload digital objects</h4>
            <ul>
                <li>Lorem ipsum dolor sit amet consectetuer.</li>
                <li>Aenean commodo ligula eget dolor.</li>
                <li>Aenean massa cum sociis natoque penatibus.</li>
            </ul>

            <button class="btn btn-primary">Upload digital object</button>
        </div>
        <div class="span4">
            <h4>Create CRM descriptions</h4>
            <ul>
                <li>Lorem ipsum dolor sit amet consectetuer.</li>
                <li>Aenean commodo ligula eget dolor.</li>
                <li>Aenean massa cum sociis natoque penatibus.</li>
            </ul>

            <button class="btn btn-primary">Create new CRM description</button>
        </div>
        <div class="span4">
            <h4>Do other stuff</h4>
            <ul>
                <li>Lorem ipsum dolor sit amet consectetuer.</li>
                <li>Aenean commodo ligula eget dolor.</li>
                <li>Aenean massa cum sociis natoque penatibus.</li>
            </ul>

            <button class="btn btn-primary">Do Something Else</button>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span4">
            <h4>Upload digital objects</h4>
            <ul>
                <li>Lorem ipsum dolor sit amet consectetuer.</li>
                <li>Aenean commodo ligula eget dolor.</li>
                <li>Aenean massa cum sociis natoque penatibus.</li>
            </ul>

            <button class="btn btn-primary">Upload digital object</button>
        </div>
        <div class="span4">
            <h4>Create CRM descriptions</h4>
            <ul>
                <li>Lorem ipsum dolor sit amet consectetuer.</li>
                <li>Aenean commodo ligula eget dolor.</li>
                <li>Aenean massa cum sociis natoque penatibus.</li>
            </ul>

            <button class="btn btn-primary">Create new CRM description</button>
        </div>
        <div class="span4">
            <h4>Do other stuff</h4>
            <ul>
                <li>Lorem ipsum dolor sit amet consectetuer.</li>
                <li>Aenean commodo ligula eget dolor.</li>
                <li>Aenean massa cum sociis natoque penatibus.</li>
            </ul>

            <button class="btn btn-primary">Do Something Else</button>
        </div>
    </div>

</div>
