<div class="fade-in">
    <div class="page-header">
        <h1 i18n="Documents">
            <span class="i18n"></span> - {{ schema }}
        </h1>
    </div>

    <div class="navbar navbar-inverse navbar-document-list">
        <div class="container-fluid">
            <form data-ng-submit="doPublicSearch(searchString)" class="navbar-left form-inline" role="search">
                <div class="form-group">
                    <input type="text" data-ng-model="searchString" class="form-control"/>
                </div>
               <button class="btn btn-default navbar-btn" type="submit" data-ng-click="doDocumentSearch(searchString)"><i class="glyphicon glyphicon-search "></i> </button>
            </form>
            <a href class="btn btn-default navbar-btn pull-right new-document" data-ng-click="newDocument(schema)"  i18n="NewDocument" data-ng-hide="user.viewer">
                <i class="glyphicon glyphicon-plus"></i>
                <span class="i18n"></span>
            </a>
        </div>
    </div>

    <!-- separate table for header to allow for list scrolling -->
    <table class="table table-striped table-condensed table-oscr header-only">
        <thead>
            <th i18n="Title"><span class="i18n"/></th>
            <th i18n="Thumbnail" width="100" ng-hide="schemaIsShared"><span class="i18n"/></th>
            <th i18n="State" width="75"><span class="i18n"/></th>
            <th i18n="Stored" width="150"><span class="i18n"/></th>
            <th i18n="SavedBy" width="200"><span class="i18n"/></th>
        </thead>
    </table>

    <!-- scrolling container to make list scrollable -->
    <div class="vertical-scroll" id="document-list-container" data-scrollable data-offset="280" data-ng-style="{ 'max-height': elHeight }" >

        <table class="table table-striped table-condensed table-oscr body-only">
            <!-- because the table body is separate from the head we need to sync up the column widths -->
            <colgroup>
                <col/>
                <col style="width:100px" ng-hide="schemaIsShared"/>
                <col style="width:75px"/>
                <col style="width:150px"/>
                <col style="width:200px"/>
            </colgroup>
            <tbody >
            <tr data-ng-hide="headerList.length">
                <td colspan="5" i18n="NoSearchResults">
                    <div class="badge badge-warning"><span class="i18n"></span></div>
                </td>
            </tr>
            <tr data-ng-show="headerList.length" data-ng-repeat="header in headerList" class="fade-in">
                <td>
                    <a href data-ng-click="choosePath(header)" style="display:block">
                        <i class="glyphicon glyphicon-edit"></i>
                        <span data-ng-repeat="title in xmlArray(header.SummaryFields.Title)">{{ title }}</span>
                    </a>
                </td>
                <td data-ng-hide="schemaIsShared">
                    <!-- only show the first thumb if there are multiple -->
                    <span data-ng-repeat="thumbnail in xmlArray(header.SummaryFields.Thumbnail)" data-ng-if="$first">
                         <img ng-src="{{ thumbnail.Identifier | mediaThumbnail }}" width="32"/>
                    </span>
                </td>
                <td>
                    <span class="label label-default" ng-class="{'label-success' : header.DocumentState == 'public' }">{{ header.DocumentState }}</span>
                </td>
                <td>
                    <span data-ng-show="header.TimeStamp">{{ header.TimeStamp | date:'yyyy-MM-dd HH:mm' }}</span>
                </td>
                <td>
                    <span data-ng-hide="header.userView">{{ header.SavedBy }}</span>
                    <span data-ng-show="header.userView">{{ header.userView.Profile.email }}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="list-controls table-oscr-list-controls">
        <div class="badge badge-success pointer" data-ng-click="getMoreResults()" i18n="MoreThan" data-ng-show="couldBeMoreResults()">
            <i class="glyphicon glyphicon-hand-down"></i>
            <span class="i18n"></span>
            <span>{{ headerList.length }}</span>
        </div>
        <div class="badge badge-info pointer" data-ng-click="scrollTo({element: '#document-list-container'})" data-ng-show="headerList.length > defaultMaxResults" i18n="BackToTop">
            <i class="glyphicon glyphicon-hand-up"></i>
            <span class="i18n"/></span>
        </div>
    </div>
</div>