<h1 class="page-header"><span ng-bind="mainMenu.activeLabel"></span></h1>
<table class="table">
    <thead>
        <th>ID</th>
        <th>NAME</th>
        <th>STATUS</th>
        <th></th>
    </thead>
    <tbody>
        <tr ng-repeat="object in objects">
            <td>{{ object.Identifier }}</td>
            <td>{{ object.Title }}</td>
            <td>
                <span ng-show="object.status == 'complete'" class="badge badge-success">{{ object.status }}</span>
                <span ng-show="object.status == 'incomplete'" class="badge badge-info">{{ object.status }}</span>
            </td>
            <td>
                <a ng-href="#/object/{{ object.Identifier }}" class="btn btn-primary">Edit</a>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><span i18n="NewDocument"></span></td>
            <td></td>
            <td>
                <a ng-href="#/object/" class="btn btn-primary">Edit</a>
            </td>
        </tr>
    </tbody>
</table>