<div class="page-header">
    <h1 ng-show="header.Identifier">{{ header.Title }} <small>{{ header.Identifier }}</small></h1>
    <p ng-show="header.TimeStamp">{{ header.TimeStamp | date:'yyyy-MM-dd HH:mm' }}</p>
</div>

<div>
    <h4>Only show when a value is present</h4>
    <ul>
        <li ng-repeat="data in tree.elements" ng-include="'tree_item_renderer.html'" ng-show="data.value"></li>
    </ul>

    <h4>Show all</h4>
    <ul>
        <li ng-repeat="data in tree.elements" ng-include="'tree_item_renderer.html'"></li>
    </ul>
</div>

<script type="text/ng-template"  id="tree_item_renderer.html">
    {{data.name}}: {{ data.value }}
    <ul>
        <li ng-repeat="data in data.elements" ng-include="'tree_item_renderer.html'"></li>
    </ul>
</script>

