<div ng-include="'/views/templates-panel.html'"></div>
<div ng-include="'/views/templates-expert.html'"></div>
<div ng-include="'/views/templates-view.html'"></div>

<div data-ng-controller="TreeController">
    <div class="tabbable" data-ng-controller="TabController">
        <ul class="nav nav-tabs">

            <li ng-class="{ 'active': isTabActive('novice') }" data-ng-hide="user.viewer">
                <a href="" i18n="Novice" data-ng-click="setActiveTab('novice')"><span class="i18n"></span></a>
            </li>
            <li ng-class="{ 'active': isTabActive('expert') }" data-ng-hide="user.viewer">
                <a href="" i18n="Expert" data-ng-click="setActiveTab('expert')"><span class="i18n"></span></a>
            </li>
            <li ng-class="{ 'active': isTabActive('viewer') }">
                <a href="" i18n="Viewer" data-ng-click="setActiveTab('viewer')"><span class="i18n"></span></a>
            </li>
        </ul>
        <div class="tab-content" data-ng-controller="TreeEditController">
            <div class="alert alert-success alert-dismissable document-saved fade-in" data-ng-show="saveSuccess">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <span i18n="DocumentSavedSuccess"><span class="i18n"></span></span>
            </div>
            <!--todo: this one should not be within the TreeEditController-->
            <div class="tab-pane active" ng-if="isTabActive('novice')">
                <a name="panel-top"></a>
                <div data-ng-include="'document-controls.html'">document controls</div>
                <hr style="margin: 8px 0"/>
                <div data-ng-include="'panel-array.html'" class="document-content">panel array</div>
            </div>
            <div class="tab-pane active" ng-if="isTabActive('expert')">
                <div data-ng-include="'document-controls.html'">document controls</div>
                <hr style="margin: 8px 0"/>
                <!--<div class="document-content" data-ng-style="{'height': setViewportHeight({offset: 210})}" data-ng-include="'expert-tab.html'">expert tab</div>-->
                <div class="vertical-scroll document-content" id="document-list-container" data-scrollable data-offset="220" data-ng-style="{ 'height': elHeight }" data-ng-include="'expert-tab.html'">expert tab</div>
            </div>
            <div class="tab-pane active" ng-if="isTabActive('viewer')">
                <div data-ng-include="'document-controls.html'">document controls</div>
                <hr style="margin: 8px 0"/>
                <div data-ng-include="'view-tab.html'" class="document-content">view tab</div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="document-controls.html">
    <div class="document-last-saved alert alert-warning alert-dismissable" data-ng-show="documentDirty && time" >
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <span class="time-saved">
            <span i18n="DocumentLastSaved"><span class="i18n"/></span>
            <span data-ng-show="time.days">
                <span>{{ time.days }}</span>
                <span data-ng-show="time.days > 1" i18n="Days">
                    <span class="i18n"/>
                </span>
                <span data-ng-show="time.days == 1" i18n="Day">
                    <span class="i18n"/>
                </span>
            </span>
            <span data-ng-show="time.hours">
                <span>{{ time.hours }}</span>
                <span data-ng-show="time.hours > 1" i18n="Hours">
                    <span class="i18n"/>
                </span>
                <span data-ng-show="time.hours == 1" i18n="Hour">
                    <span class="i18n"/>
                </span>
            </span>
            <span data-ng-show="time.minutes">
                <span>{{ time.minutes }}</span>
                <span data-ng-show="time.minutes > 1" i18n="Minutes">
                    <span class="i18n"/>
                </span>
                <span data-ng-show="time.minutes == 1" i18n="Minute">
                    <span class="i18n"/>
                </span>
            </span>
            <span data-ng-show="!time.days && !time.hours && !time.minutes && time.seconds" i18n="LessThanAMinute">
                <span class="i18n"/>
            </span>
            <span i18n="Ago"><span class="i18n"/></span>
        </span>
    </div>

    <div class="row">
    <div class="document-controls col-md-12">
        <ul class="list-unstyled list-inline">
            <li>
                <a href class="btn btn-primary" data-ng-click="chooseListPath()">
                    <i class="glyphicon glyphicon-th-list"></i>
                </a>
            </li>
            <li data-ng-hide="user.viewer">
                <!-- document  save -->
                <a href class="btn btn-default" data-ng-class="{ 'btn-success' : documentDirty }" data-ng-click="saveDocument()" i18n="Save">
                    <i class="glyphicon glyphicon-check"></i>
                    <span class="i18n"/>
                </a>
            </li>
            <li data-ng-hide="activeTab == 'viewer' || user.viewer">
                <!-- document preview and save -->
                <a href class="btn btn-default" data-ng-class="{ 'btn-success' : documentDirty }" data-ng-click="setActiveTab('viewer')" i18n="PreviewAndSave">
                    <i class="glyphicon glyphicon-check"></i>
                    <span class="i18n"/>
                </a>
            </li>
            <li>
                <div class="document-info btn btn-sm">
                    <strong><span i18n="OwningGroup"><span class="i18n"/></span>:</strong> {{ groupName }}<br/>
                    <span data-ng-show="header.TimeStamp">
                        <strong><span i18n="SavedOn"><span class="i18n"/></span>:</strong> {{ header.TimeStamp | date:'yyyy-MM-dd HH:mm' }}
                    </span>
                </div>
            </li>
            <li class="pull-right" ng-if="!user.viewer">
               <div class="btn-group">
                       <span i18n="Public" data-ng-click="setDocumentState('public')" class="btn btn-off" ng-class="{ 'btn-on' : isDocumentPublic() }">
                           <i class="glyphicon glyphicon-eye-open"></i>
                           <span class="i18n"/>
                       </span>
                       <span i18n="Private" data-ng-click="setDocumentState('private')" class="btn btn-off" ng-class="{ 'btn-on' : !isDocumentPublic() }">
                           <i class="glyphicon glyphicon-eye-close"></i>
                           <span class="i18n"/>
                       </span>

               </div>

                <span class="btn" ng-class="{ 'btn-danger' : isDocumentPresent() }">
                   <span data-ng-show="isDocumentPresent()" i18n="PutInTrash" data-ng-click="setDocumentState('deleted')">
                       <i class="glyphicon glyphicon-trash"></i>
                       <span class="i18n"/>
                   </span>
                   <span data-ng-hide="isDocumentPresent()" i18n="TakeOutOfTrash" data-ng-click="setDocumentState('private')">
                       <i class="glyphicon glyphicon-trash"></i>
                       <span class="i18n"/>
                   </span>
               </span>
               <span class="btn btn-default" data-ng-click="fullScreen()" ng-class="{'btn-success':fullScreenActive}">
                   <i class="glyphicon glyphicon-fullscreen"></i>
               </span>
            </li>
        </ul>
    </div> <!--document controls-->
    </div>
</script>

<script type="text/ng-template" id="panel-array.html">
    <div id="panel-container" ng-controller="PanelArrayController">
        <p data-ng-hide="panels" i18n="NoDocumentToEdit"></p>
        <table class="table table-panels" id="panel-table" data-ng-show="panels">
            <thead>
            <tr>
                <th data-ng-repeat="panel in panels" class="panel-header">
                    {{ panel.element | elementTitle }}
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td data-ng-repeat="(panelIndex, panel) in panels" class="panel panel-last-{{$last}}" data-ng-class-odd="'odd'" data-ng-class-even="'even'">
                    <div data-ng-show="panel.element.elements">
                        <ul class="list-unstyled panel-list">
                            <li data-ng-repeat="element in panel.element.elements" data-ng-class="level{{ element.classIndex }}">
                                <div class="icon-container">
                                    <span class="glyphicon-item status status-{{ element.invalid }}"></span>
                                    <span data-ng-show="element.config.multiple"
                                          class="display-{{ element.config.multiple }} icon-item pointer"
                                          data-ng-click="addSibling(panel.element, $index, panelIndex)">
                                        <i class="glyphicon glyphicon-plus-sign"></i>
                                    </span>
                                    <span data-ng-show="element.config.multiple"
                                          class="display-{{ element.config.multiple }} icon-item pointer"
                                          data-ng-click="removeSibling(panel.element, $index, panelIndex)">
                                        <i class="glyphicon glyphicon-minus-sign"></i>
                                    </span>
                                </div>
                                <a href class="link-{{ element.name }}"
                                   data-ng-click="choose($index, $parent.$index)">
                                        <span class="link-title">
                                            {{ element | elementTitle }}
                                            <span data-ng-show="config.showTranslationEditor"
                                                  data-ng-click="openTitleDialog(element)"
                                                  class="badge badge-warning badge-i18n">
                                                  <i class="glyphicon glyphicon-globe"></i>
                                            </span>
                                        </span>
                                        <span data-ng-controller="PanelElementController"
                                              document-navigation="navigationKeyPressed($key)"
                                              ng-include="getPanelEditTemplate(element)">
                                        </span>
                                </a>
                                <div class="active-indicator" data-ng-show="$index == panel.choice"></div>

                            </li>
                        </ul>
                    </div>

                    <div data-ng-hide="panel.element.elements">
                        <div ng-include="getDetailView(panel.element)"></div>
                    </div>

                </td>
            </tr>
            </tbody>
        </table>
    </div>
</script>

<script type="text/ng-template" id="expert-tab.html">
    <div data-ng-controller="ExpertTreeController">
        <div class="form-expert" ng-if="tree">
            <span class="form-header" i18n="{{ schema }}"><span class="i18n"/></span>
            <div data-ng-controller="ExpertSubtreeController" ng-init="setParentEl(tree)" class="form-inner">
                <div class="row-fluid" data-ng-repeat="(elIndex, el) in parentEl.elements" data-ng-controller="ExpertElementController">
                    <fieldset class="field" ng-include="getExpertEditTemplate(el)"/>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="view-tab.html">
    <div class="row" data-ng-controller="ViewTreeController">
        <div data-ng-controller="ViewElementController">
            <div class="col-md-12" ng-class="{ 'col-md-6' : (mediaElements.length > 0) }">
                <div class="field" data-ng-repeat="el in filterNonMedia(tree.elements)" ng-include="getViewTemplate(el)" data-ng-show="hasValue(el)"></div>
            </div>
            <div class="col-md-6 document-media" data-ng-show="mediaElements.length > 0">
                <div class="field" ng-include="'views/document-media.html'"></div>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="confirm-save-document.html">
        <div class="modal-header warning">
            <h3 i18n="Warning"><span class="i18n"/></h3>
        </div>
        <div class="modal-body">
            <p i18n="QuestionSaveDocumentFirst"><span class="i18n"/></p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" data-ng-click="ok()"><span i18n="Save"><span class="i18n"/></span></button>
            <button class="btn btn-danger" data-ng-click="cancel()"><span i18n="DontSave"><span class="i18n"/></button>
        </div>
</script>

