<h1 class="page-header">{{ panels[0].element.title }}</h1>

<a href ng-show="config.showInlineValues" ng-click="togglePreview(false);">Hide previews</a>
<a href ng-show="!config.showInlineValues" ng-click="togglePreview(true);">Show previews</a>

<div id="panel-container">

<table cellpadding="20" border="0" class="table panels" ng-controller="I18NController" id="panel-table">
    <thead>
    <tr>
        <th ng-repeat="panel in panels" class="panel-header">{{ panel.element | elementTitle }}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td ng-repeat="panel in panels" ng-controller="PanelController"
            class="level{{$index}} bordered-{{!$first}} panel panel-last-{{$last}}" special-key="specialKeyPressed($key)">
            <div ng-show="!el.elements" class="panel-input">
                <div ng-show="el.vocabulary" ng-controller="VocabularyController" class="vocabulary-input">
                    <div ng-show="el.edit && !el.elements">
                        <input focus
                               id="vocabulary"
                               type="text"
                               ng-model="chosenState"
                               typeahead="state as stateToString(state) for state in getStates($viewValue)"
                        />
                        <button ng-click="disableEditor()" class="btn btn-small"><i class="icon-ok-circle icon-white"></i> Yes</button>
                        <button ng-show="!el.elements" ng-click="createNew()" class="btn btn-warning btn-small">New</button>
                    </div>
                    <div ng-show="!el.edit && !el.elements && el.valueFields">
                        <div ng-click="enableEditor()" tooltip-placement="right" tooltip="Click to edit" class="pointer chosen-value" tabindex="0">
                            <ul class="unstyled kv-list">
                                <li ng-repeat="line in el.valueFields">
                                    <!--todo: translation button-->
                                    <span class="label">{{ line.prompt }}:</span>
                                    <span class="value">{{ line.value }}</span>
                                </li>
                            </ul>
                        </div>
                        <br/>
                        <button ng-click="enableClearedEditor()" class="btn btn-small">Edit</button>
                    </div>
                    <div ng-show="el.elements" ng-controller="VocabularyController">
                        <button ng-click="cancelNew()" class="btn btn-small btn-warning">Cancel</button>
                        <button ng-click="submitNew()" class="btn btn-small btn-success">Submit</button>
                    </div>
                </div>

                <div ng-show="el.textInput" ng-controller="TextInputController" class="text-input">
                    <div ng-show="el.edit">
                        <input focus
                                id="textInput"
                                type="text"
                                ng-model="el.value"
                        />
                        <button ng-click="disableEditor()" class="btn btn-small"><i class="icon-ok-circle icon-white"></i> Yes</button>
                    </div>
                    <div ng-hide="el.edit">
                        <div ng-click="enableEditor()" tooltip-placement="right" tooltip="Click to edit" class="pointer chosen-value" tabindex="0">
                            <span>{{ el.value }}</span>
                        </div>
                        <br/>
                        <button ng-click="enableEditor()" class="btn btn-small">Edit</button>
                    </div>
                    <div ng-show="invalidMessage">
                        <span>{{ invalidMessage }}</span>
                    </div>
                </div>


                <div ng-show="el.textArea" class="textarea-input" ng-controller="TextAreaController">
                    <div ng-show="el.edit">
                        <textarea focus
                                id="textArea"
                                ng-model="el.value"
                                rows="5"
                                ></textarea>
                        <br/>
                        <button ng-click="disableEditor()" class="btn btn-small"><i class="icon-ok-circle icon-white"></i> Yes</button>
                    </div>
                    <div ng-hide="el.edit">
                        <div ng-click="enableEditor()" tooltip-placement="right" tooltip="Click to edit" class="pointer chosen-value" tabindex="0">
                                <div ng-repeat="line in el.value.split('\n')">
                                    <span>{{ line }}</span><br/>
                                </div>
                        </div>
                        <br/>
                        <button ng-click="enableEditor()" class="btn btn-small">Edit</button>
                    </div>
                </div>

                <div>
                    <div ng-show="el.doc">
                        <p>{{ el.doc }}</p>
                    </div>
                    <div>
                        <button ng-click="openDocDialog(el)" class="btn btn-small">Edit Explanation</button>
                    </div>
                </div>
            </div>

            <input id="hidden" ng-show="false" ng-controller="HiddenController" focus/>
            <ul ng-show="el.elements" class="nav nav-pills nav-stacked panel-list">
                <li ng-repeat="element in el.elements">
                    <a class="level{{ element.classIndex }} link-{{ element.name }}" ng-click="choose($index, $parent.$index)">
                        <!-- element title/label -->
                        <div class="link-title">{{ element | elementTitle }}</div>
                        <!-- element value -->
                        <div class="link-value" ng-show="element.value && config.showInlineValues">
                            <!-- TODO: create line breaks for multiline content like textarea display for longer texts -->
                            {{ element | elementDisplay }}
                        </div>
                    </a>
                    <span
                          class="icon-white plus"
                          ng-click="openTitleDialog(element)">
                        <i class="icon-question-sign icon-white"></i>
                    </span>
                    <span ng-show="element.multiple"
                          tooltip-placement="bottom"
                          tooltip="Add {{ element | elementTitle }}"
                          class="plus display-{{ element.multiple }}"
                          ng-click="addSibling(el.elements, $index, $parent.index)">
                        <i class="icon-plus-sign icon-white"></i>
                    </span>
                    <span ng-show="element.doc"
                          class="documentation"
                          popover-trigger="mouseenter"
                          popover-placement="top"
                          popover-title="{{ element | elementTitle }}"
                          popover="{{ element.doc }}"><i class="icon-question-sign icon-white"></i>
                    </span>
                </li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>
</div>
