<!-- DISPLAY OF A SINGE MEDIA ITEM -->
<div data-ng-if="mediaElement">
        <div data-ng-if="isImage(mediaElement)">
            <img data-ng-src="{{ mediaElement | mediaFile }}"/>
        </div>
        <div data-ng-if="isVideo(mediaElement)">
            <video width="100%" id="player1" ng-src="{{ mediaElement | mediaFile }}" type="{{ mediaElement | mediaMimeType }}" controls="controls"></video>
        </div>
        <div data-ng-if="isPdf(mediaElement)">
            <div class="row-fluid">
                <div class="btn-group pdf-controls" ng-show="totalPages > 1">
                    <button class="btn btn-small" ng-click="gotoPage(1)"><i class="icon-fast-backward"></i></button>
                    <button class="btn btn-small" ng-click="prevPage()"><i class="icon-backward"></i></button>
                    <button class="btn btn-small" ng-click="nextPage()"><i class="icon-forward"></i></button>
                    <button class="btn btn-small" ng-click="gotoPage(totalPages)"><i class="icon-fast-forward"></i></button>
                    <span class="label label-info" ng-show="totalPages"><i class="icon-file icon-white"></i> {{currentPage}} / {{totalPages}}</span>
                </div>

            </div>
            <div class="row-fluid">
                <pdfviewer src="{{ mediaElement | mediaFile }}" on-page-load='pageLoaded(page,total)' id="pdf-viewer" load-progress='loadProgress(loaded, total, state)'></pdfviewer>
            </div>
        </div>
</div>
<!-- DISPLAY OF MULTIPLE MEDIA ITEMS -->
<div data-ng-if="mediaElements.length > 1">
    <div ng-if="!isPdf(mediaElements[0])">
        <carousel>
            <slide ng-repeat="file in mediaElements">
                <div data-ng-if="isImage(file)">
                    <img data-ng-src="{{ file | mediaFile }}"/>
                </div>
                <div data-ng-if="isVideo(file)">
                    <video width="100%" controls>
                        <source src="{{ file | mediaFile }}" type="{{ file | mediaMimeType }}">
                    </video>
                </div>
            </slide>
        </carousel>
    </div>

    <div ng-if="isPdf(mediaFiles[0])">
        <div class="alert alert-warning">
            <strong>Attention!</strong> Currently multiple pdf files cannot be displayed in this view
        </div>
    </div>
</div>