<div data-ng-show="mediaFiles.length == 1">
    <div data-ng-repeat="file in mediaFiles">
        <div data-ng-show="isImage(file.value.MimeType)">
            <img data-ng-src="{{ file | mediaFile }}"/>
        </div>
        <div data-ng-show="isVideo(file.value.MimeType)">
            <video width="100%" controls src="{{ file | mediaFile }}" type="{{ file.value.MimeType }}">
            </video>
        </div>
        <div data-ng-show="isPdf(file.value.MimeType)">
            <div class="row">
                <div class="btn-group pdf-controls" ng-show="totalPages > 1">
                    <button class="btn btn-small" ng-click="gotoPage(1)"><i class="icon-fast-backward"></i></button>
                    <button class="btn btn-small" ng-click="prevPage()"><i class="icon-backward"></i></button>
                    <button class="btn btn-small" ng-click="nextPage()"><i class="icon-forward"></i></button>
                    <button class="btn btn-small" ng-click="gotoPage(totalPages)"><i class="icon-fast-forward"></i></button>
                    <span class="label label-info" ng-show="totalPages"><i class="icon-file icon-white"></i> {{currentPage}} / {{totalPages}}</span>
                </div>

            </div>
            <div class="row">
                <pdfviewer src="{{ file | mediaFile }}" on-page-load='pageLoaded(page,total)' id="pdf-viewer" load-progress='loadProgress(loaded, total, state)'></pdfviewer>
            </div>
        </div>
    </div>
</div>

<div data-ng-show="mediaFiles.length > 1">
    <carousel>
        <slide ng-repeat="file in mediaFiles">
            <div data-ng-show="isImage(file.value.MimeType)">
                <img data-ng-src="{{ file | mediaFile }}"/>
            </div>
            <div data-ng-show="isVideo(file.value.MimeType)">
                <video width="100%" controls src="{{ file | mediaFile }}" type="{{ file.value.MimeType }}">
                </video>
            </div>
        </slide>
    </carousel>
    <!-- TODO: get this to work //-->
    <!--<ul class="unstyled inline">-->
    <!--<li data-ng-repeat="file in mediaFiles">-->
    <!--<a href ng-click="select(file)" ><img ng-src="{{ file | mediaThumbnail }}"/></a>-->
    <!--</li>-->
    <!--</ul>-->
</div>