<div>
    <div class="page-header">
        <h1 ng-show="headerDisplay">{{ headerDisplay }}</h1>
        <h1 ng-hide="headerDisplay" i18n="New"></h1>
        <span ng-show="header.TimeStamp">{{ header.TimeStamp | date:'yyyy-MM-dd HH:mm' }}</span>
    </div>


    <tabset>
        <tab>
            <tab-heading i18n="Edit"><span class="i18n"></span></tab-heading>

            <div class="navbar">
                <div class="navbar-inner">
                    <div class="controls">
                        <a href ng-click="choosePath('/document/'+schema)" class="btn">
                            <i class="icon-hand-left"></i>
                        </a>
                        <a href ng-click="toggleInlinePreview()"
                           ng-class="{'btn': config.showInlinePreview, 'btn disabled': !config.showInlinePreview}">
                            <i class="icon-eye-open"></i>
                        </a>
                        <span ng-show="documentDirty">
                            <a href class="btn btn-success" ng-show="documentDirty" ng-click="saveDocument()" i18n="SaveDocument">
                                <i class="icon icon-check icon-white"></i>
                                <span class="i18n"/>
                            </a>
                            <span ng-show="time">
                                <span i18n="DocumentSaved">(<span class="i18n"/></span>
                                <span ng-show="time.days">
                                    <span>{{ time.days }}</span>
                                    <span ng-show="time.days > 1" i18n="Days">
                                        <span class="i18n"/>
                                    </span>
                                    <span ng-show="time.days == 1" i18n="Day">
                                        <span class="i18n"/>
                                    </span>
                                </span>
                                <span ng-show="time.hours">
                                    <span>{{ time.hours }}</span>
                                    <span ng-show="time.hours > 1" i18n="Hours">
                                        <span class="i18n"/>
                                    </span>
                                    <span ng-show="time.hours == 1" i18n="Hour">
                                        <span class="i18n"/>
                                    </span>
                                </span>
                                <span ng-show="time.minutes">
                                    <span>{{ time.minutes }}</span>
                                    <span ng-show="time.minutes > 1" i18n="Minutes">
                                        <span class="i18n"/>
                                    </span>
                                    <span ng-show="time.minutes == 1" i18n="Minute">
                                        <span class="i18n"/>
                                    </span>
                                </span>
                                <span ng-show="!time.days && !time.hours && !time.minutes && time.seconds" i18n="LessThanAMinute">
                                    <span class="i18n"/>
                                </span>
                                <span i18n="Ago"><span class="i18n"/>)</span>
                            </span>
                        </span>
                    </div>
                </div>
            </div>

            <div ng-include="'views/include/panels.html'"></div>
        </tab>
        <tab>
            <tab-heading i18n="View"><span class="i18n"></span></tab-heading>
            <div>
                <h4>Only show when a value is present</h4>
                <!--{{ tree.elements }}-->

                <ul class="unstyled value-list">
                    <li ng-repeat="data in tree.elements" ng-include="'tree_item_renderer.html'" ng-show="data.value"></li>
                </ul>

                <h4>Show all</h4>
                <ul class="unstyled value-list">
                    <li ng-repeat="data in tree.elements" ng-include="'tree_item_renderer.html'"></li>
                </ul>
            </div>

            <script type="text/ng-template"  id="tree_item_renderer.html">
                <label>{{data.name}}:</label> <span class="data">{{ data.value }}</span>
                <ul class="value-list" >
                    <li ng-repeat="data in data.elements" ng-include="'tree_item_renderer.html'" ></li>
                </ul>
            </script>
        </tab>
    </tabset>


</div>


