<div class="well well-sm">
    <h5 i18n="FieldStatus"><span class="i18n"/></h5>
    <ul class="list-unstyled">
        <li i18n="StatusEmpty"><span class="icon-item status status-0"></span> <span class="i18n">Status Empty</span></li>
        <li i18n="StatusOkay"><span class="icon-item status status-1"></span> <span class="i18n">Status Okay</span></li>
        <li i18n="StatusIncomplete"><span class="icon-item status status-2"></span> <span class="i18n">Status Incomplete</span></li>
        <li i18n="StatusInvalid"><span class="icon-item status status-3"></span> <span class="i18n">Status Invalid</span></li>
    </ul>
    <h5 i18n="DocumentStatus"><span class="i18n"/></h5>
    <span class="label label-default" i18n="Private"></i> <span class="i18n"/></span>
    <p><small i18n="DocumentPrivateExplanation"><span class="i18n"/></small></p>
    <span class="label label-success" i18n="Public"> <span class="i18n"/></span>
    <p><small i18n="DocumentPublicExplanation"><span class="i18n"/></small></p>
</div>