<div class="fade-in group-page">

    <div class="page-header">
        <h1 i18n="Group"><span class="i18n"/>: <span>{{ groupView.Name }}</span></h1>
    </div>

    <div class="row-fluid">
        <div class="span4">
            <address>
                <h5 class="header">{{ groupView.Name }}</h5>
                <span ng-show=" groupView.StreetNameAndNr">{{ groupView.StreetNameAndNr}}</span><br/>
                <span ng-show="groupView.Zip">{{ groupView.Zip }}, </span><span ng-show="groupView.City">{{ groupView.City }}</span>
            </address>
        </div>
    </div>
</div>