<div class="fade-in">
    <div class="jumbotron clearfix">
        <div class="col-md-6">
            <!--<h1>schema4ms2xml</h1>-->
            <h1>SCHEMALEON</h1>
            <p>Schema driven forms to generate structured XML documents</p>
            <form data-ng-submit="doPublicSearch(searchString)" class="form-inline">
                <div class="input-group">
                    <input type="text" data-ng-model="searchString" class="form-control input-lg"/>
                    <span class="input-group-addon pointer" type="submit" ng-click="doPublicSearch(searchString)"><i class="glyphicon glyphicon-search "></i> </span>
                </div>
            </form>
        </div>
    </div>


    <div class="row">

        <div data-ng-hide="headerList.length" i18n="NoPublicDocuments">
            <div class="badge badge-warning"><span class="i18n"></span></div>
        </div>
        <div class="vertical-scroll thumbnails" id="document-list-container" data-scrollable data-offset="360" data-ng-style="{ 'max-height': elHeight }" data-ng-show="headerList.length">

            <div data-ng-repeat="header in headerList" class="col-md-3">
                <div class="thumbnail">
                    <a href ng-click="choosePath(header, true)">
                        <div class="media">
                            <img ng-src="{{ getThumbPath(header) }}" class="pull-left" data-ng-show="hasThumbnail(header)"/>
                            <div class="media-body">
                                <div class="media-heading" data-ng-repeat="title in getTitles(header)">
                                    {{ title }}
                                </div>
                                <ul class="list-unstyled list-key-value">
                                    <li>
                                        <span class="key" i18n="Type">
                                            <span class="i18n"/>
                                        </span>
                                        <span class="value" i18n="{{header.SchemaName}}">
                                            <span class="i18n"/>
                                        </span>
                                    </li>
                                    <li>
                                        <span class="key" i18n="OwningGroup">
                                            <span class="i18n"/>
                                        </span>
                                        <span class="value">
                                            {{ header.group.Name }}
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="list-controls">
                <div class="badge badge-success pointer" data-ng-click="getMoreResults()" i18n="MoreThan" ng-show="couldBeMoreResults()">
                    <i class="glyphicon glyphicon-hand-down"></i>
                    <span class="i18n"></span>
                    <span>{{ headerList.length }}</span>
                </div>
                <div class="badge badge-info pointer" data-ng-click="scrollTo({'element': '#document-list-container'})" data-ng-show="headerList.length > 12" i18n="BackToTop">
                    <i class="glyphicon glyphicon-hand-up"></i>
                    <span class="i18n"/></span>
                </div>
            </div>
        </div>
    </div>
</div>
