<div class="fade-in">

    <div class="page-header">
        <h1>Language "{{ langCode }}"</h1>

        <h4>Labels</h4>
        <ul>
            <li ng-repeat="label in labels">
                <span ng-show="config.showTranslationEditor">
                    <span>{{ label.Key }}:</span>
                    <input class="input-block-level" type="text" ng-model="label.Value"/>
                    <!--todo: some kind of submit button which calls the server-->
                </span>
                <span ng-hide="config.showTranslationEditor">
                    {{ label.Key }}: "{{ label.Value }}"
                </span>
            </li>
        </ul>
        <h4>Fields</h4>
        <ul>
            <li ng-repeat="element in elements">
                <span>{{ element.Key }}:</span>
                <ul>
                    <li>
                        <span>Title:</span>
                        <span ng-show="config.showTranslationEditor">
                            <input class="input-block-level" type="text" ng-model="element.Title"/>
                            <!--todo: some kind of submit button which calls the server-->
                        </span>
                        <span ng-hide="config.showTranslationEditor">"{{ element.Title }}"</span>
                    </li>
                    <li>
                        <span>Documentation:</span>
                        <span ng-show="config.showTranslationEditor">
                            <textarea focus id="textArea" class="textarea-input" ng-model="element.Doc" rows="5"></textarea>
                            <!--todo: some kind of submit button which calls the server-->
                        </span>
                        <span ng-hide="config.showTranslationEditor">"{{ element.Doc }}"</span>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

</div>