<div class="fade-in">

    <div class="page-header">
        <h1 i18n="Translations"><span class="i18n">Translations</span> "{{ langCode }}"</h1>
    </div>
    <div class="row">
        <div class="col-md-4">
            <legend>Unassigned</legend>
            <ul class="list-unstyled translations">
                <li ng-repeat="label in unassigned">
                    <label>{{ label.Key }}</label>
                    <p ng-hide="config.showTranslationEditor">"{{ label.Value }}"</p>
                    <div class="form-group"  ng-show="config.showTranslationEditor">
                        <input class="form-control" type="text" ng-model="label.Value"/>
                    <span class="add-on btn btn-success" ng-click="setLabel(label)" ng-show="label.Value != label.StoredValue">
                        <i class="icon icon-ok"></i>
                    </span>
                    </div>
                </li>
            </ul>
        </div>

        <div class="col-md-4">
            <legend>Labels</legend>
            <ul class="list-unstyled translations">
                <li ng-repeat="label in labels">
                    <label>{{ label.Key }}</label>
                    <p ng-hide="config.showTranslationEditor">"{{ label.Value }}"</p>
                    <div class="form-group"  ng-show="config.showTranslationEditor">
                        <input class="form-control" type="text" ng-model="label.Value"/>
                    <span class="add-on btn btn-success" ng-click="setLabel(label)" ng-show="label.Value != label.StoredValue">
                        <i class="icon icon-ok"></i>
                    </span>
                    </div>
                </li>
            </ul>
        </div>

        <div class="col-md-4">
            <legend>Fields</legend>
            <ul class="list-unstyled translation">
                <li ng-repeat="element in elements" class="span3">
                    <label>{{ element.Key }}</label>
                    <p ng-hide="config.showTranslationEditor">"{{ element.Title }}"</p>
                    <div class="form-group"  ng-show="config.showTranslationEditor">
                        <input class="form-control" type="text" ng-model="element.Title"/>
                    <span class="add-on btn btn-success" ng-click="setTitle(element)" ng-show="element.Title != element.StoredTitle">
                        <i class="icon icon-ok"></i>
                    </span>
                        <h6>Documentation:</h6>
                        <!--todo: "focus" below is suspect-->
                        <textarea focus id="textArea" class="form-control" ng-model="element.Doc" rows="5"></textarea>
                    <span class="btn btn-success" ng-click="setDoc(element)" ng-show="element.Doc != element.StoredDoc">
                        <i class="glyphicion glyphicon-ok"></i>
                    </span>
                    </div>
                </li>
            </ul>
        </div>
    </div>




</div>