<div class="page-header">
    <h1 i18n="Login"></h1>
</div>

<table cellpadding="6" ng-controller="LoginController">
    <tr>
        <th><span i18n="Username"></span></th>
        <td>
            <input type="text" ng-model="username" name="username" id="username" ng-required/>
        </td>
    </tr>
    <tr>
        <th><span i18n="Password"></span></th>
        <td>
            <input type="password" ng-model="password" name="password" id="password" ng-required enter-key="login()"/>
        </td>
    </tr>
    <tr>
        <td></td>
        <td align="right">
            <button class="btn" ng-click="login()" id="login" name="login"><span i18n="Login"></span></button>
        </td>
    </tr>
    <tr ng-show="loginFailed">
        <td>
            <span i18n="LoginFailed"></span>
        </td>
    </tr>
</table>
