<h1 class="page-header"><img src="img/bee.png"/> Culture Collector</h1>

<table cellpadding="20" border="0" class="table panels">
    <thead>
    <tr>
        <th ng-repeat="panel in panels" class="panel-header  fade-in"">{{panel.element.name}}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td ng-repeat="panel in panels" class="level{{$index}} bordered-{{!$first}} panel panel-last-{{$last}} fade-in">

            <form ng-show="panel.element.remoteVocabulary ||
                           panel.element.localVocabulary ||
                           panel.element.textInput ||
                           panel.element.textArea">

                <div ng-show="panel.element.remoteVocabulary" ng-controller="RemoteVocabularyController">
                    <label>{{ panel.element.remoteVocabulary.elements[0].label }}</label>
                    <input type="text" ng-model="panel.element.remoteVocabulary.elements[0].value"/>
                    <label>{{ panel.element.remoteVocabulary.elements[1].label }}</label>
                    <input type="text" ng-model="panel.element.remoteVocabulary.elements[1].value"/>
                </div>

                <div ng-show="panel.element.localVocabulary">
                    <label>{{ panel.element.name }}</label>
                    <input type="text" ng-model="panel.element.value" typeahead="control for control in panel.element.localVocabulary"/>
                </div>

                <div ng-show="panel.element.textInput">
                    <label>{{ panel.element.textInput.label }}</label>
                    <input type="text" ng-model="panel.element.value"/>
                </div>

                <div ng-show="panel.element.textArea">
                    <label>{{ panel.element.textArea.label }}</label>
                    <textarea ng-model="panel.element.value"></textarea>
                </div>

            </form>

            <ul class="nav nav-pills nav-stacked element-list" ng-controller="PanelCtl">
                <li ng-repeat="member in panel.element.elements">
                    <a href
                       class="level{{member.classIndex}}"
                       ng-click="choose(member, $parent.$index)">
                        {{ member.name }}
                    </a>
                    <span ng-show="member.multiple"
                          tooltip-placement="bottom"
                          tooltip="Add {{member.name}}"
                          class="plus"
                          ng-click="addSibling(panel.element.elements, $index, $parent.index)">
                        <i class="icon-plus-sign icon-white"></i>
                    </span>
                    <span ng-show="member.doc"
                        class="documentation"
                        popover-trigger="mouseenter"
                        popover-placement="top"
                        popover-title="{{member.name}}"
                        popover="{{member.doc}}"><i class="icon-question-sign icon-white"></i>
                    </span>
                </li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>

