<h1 class="page-header">Culture Collector</h1>

<table cellpadding="20" border="0" class="table">
    <thead>
    <tr>
        <th ng-repeat="panel in panels" class="panel-header">{{panel.element.name}}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td ng-repeat="panel in panels" class="level{{$index}} bordered-{{!$first}} panel panel-last-{{$last}}">
            <!--<div ng-show="panel.element.fetch">-->
                <!--<form ng-controller="FetchCtrl" ng-init="kickstart(panel.element.fetch, panel.element.elements)">-->
                    <!--<label>{{fetch.uriLabel}}</label>-->
                    <!--<input type="text" ng-model="uri.value"/>-->
                    <!--<label>{{fetch.preferredLabelLabel}}</label>-->
                    <!--<input type="text" ng-model="preferredLabel.value"/>-->
                <!--</form>-->
            <!--</div>-->
            <ul class="nav nav-pills nav-stacked fade-in element-list">
                <form ng-show="panel.element.fetch" ng-controller="FetchCtrl" ng-init="kickstart(panel.element.fetch, panel.element.elements)">
                    <label>{{fetch.uriLabel}}</label>
                    <input type="text" ng-model="uri.value"/>
                    <label>{{fetch.preferredLabelLabel}}</label>
                    <input type="text" ng-model="preferredLabel.value"/>
                </form>
                <li ng-repeat="member in panel.element.elements"
                    ng-show="!panel.element.fetch">
                    <a href class="level{{member.classIndex}} selected-{{member.selected}}"
                       ng-click="choose(member, $parent.$index)">
                        {{member.name}}
                    </a>
                    <span ng-show="member.multiple"
                          tooltip-placement="bottom"
                          tooltip="Add {{member.name}}"
                          class="plus"
                          ng-click="addSibling(panel.element.elements, $index)">
                        <i class="icon-plus-sign icon-white"></i>
                    </span>
                    <span ng-show="member.doc"
                        class="documentation"
                        popover-trigger="mouseenter"
                        popover-placement="top"
                        popover-title="{{member.name}}"
                        popover="{{member.doc}}"><i class="icon-question-sign icon-white"></i>
                    </span>
                </li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>

