<div class="media-upload-controls media-lite">
    <form id="fileupload" action="#" method="POST" enctype="multipart/form-data"
          data-file-upload="options" data-ng-class="{'fileupload-processing': processing() || loadingFiles}">
        <button class="btn btn-success fileinput-button btn-sm" ng-class="{disabled: disabled}">
            <i class="glyphicon glyphicon-plus"></i>
            <span i18n="AddFiles"/>
            <input type="file" name="files[]" multiple ng-disabled="disabled">
            </span>
        </button>
    </form>
    <div class="progress-indicator" data-ng-show="active()">
        <div class="progress" data-file-upload-progress="progress()">
            <div class="progress-bar" role="progressbar" aria-valuenow="{{ num }}" aria-valuemin="0" aria-valuemax="100" data-ng-style="{width: num + '%'}"></div>
        </div>
    </div>
</div>

<table class="table-striped table-condensed table-document-list">
    <thead>
    <tr>
        <th i18n="Thumb" width="120"><span class="i18n"/></th>
        <th i18n="Name" width="180"><span class="i18n"/></th>
        <th i18n="Actions"><span class="i18n"/></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-hide="queue.length">
        <td colspan="4">
            <span i18n="NoFiles" class="badge badge-info"><span class="i18n"/></span>
        </td>
    </tr>
    <tr ng-repeat="file in queue">

        <td data-ng-switch data-on="!!file.thumbnailUrl">
            <div class="preview" data-ng-switch-when="true">
                <a data-ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}"
                   data-gallery><img data-ng-src="{{file.thumbnailUrl}}" alt=""></a>
            </div>
            <div class="preview" data-ng-switch-default data-file-upload-preview="file"></div>
        </td>
        <td>
            <p class="name" data-ng-switch data-on="!!file.url">
            <span data-ng-switch-when="true" data-ng-switch data-on="!!file.thumbnailUrl">
                <a data-ng-switch-when="true" data-ng-href="{{file.url}}" title="{{file.name}}"
                   download="{{file.name}}" data-gallery>{{file.name}}</a>
                <a data-ng-switch-default data-ng-href="{{file.url}}" title="{{file.name}}"
                   download="{{file.name}}">{{file.name}}</a>
            </span>
                <span data-ng-switch-default>{{file.name}}</span>
            </p>

            <div data-ng-show="file.error">
                <span class="label label-important" i18n="Error"><span class="i18n"/></span> {{file.error}}
            </div>
        </td>
        <td>
            <span i18n="Upload">
                <button type="button" class="btn btn-primary btn-xs start"
                        data-ng-click="fileSubmit(file)" data-ng-hide="!file.$submit">
                    <i class="glyphicon glyphicon-cloud-upload"></i>
                    <span class="i18n"/>
                </button>
            </span>
            <span i18n="Remove">
                <button type="button" class="btn btn-warning btn-xs cancel"
                        data-ng-click="fileCancel(file)" data-ng-hide="!file.$cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span class="i18n"/>
                </button>
            </span>

            <span i18n="Delete">
                <button data-ng-controller="FileDestroyController" type="button" class="btn btn-danger btn-xs destroy"
                        data-ng-show="!!file.$destroy" data-ng-click="fileDestroy(file)">
                    <i class="glyphicon glyphicon-trash"></i>
                    <span class="i18n"/>
                </button>
            </span>
        </td>
    </tr>
    </tbody>
</table>
