<h1 class="page-header">CRM Object</h1>

<table cellpadding="20" border="0" class="table panels">
    <thead>
    <tr>
        <th ng-repeat="panel in panels" class="panel-header  fade-in">{{panel.element.name}}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td ng-repeat="panel in panels"
            class="level{{$index}} bordered-{{!$first}} panel panel-last-{{$last}} fade-in"
            ng-controller="PanelController">

            <form ng-show="panel.element.remoteVocabulary ||
                           panel.element.localVocabulary ||
                           panel.element.textInput ||
                           panel.element.textArea">
                                                         <span>editorEnabled: {{ el.editorEnabled }}</span>
                <!--<div ng-show="el.remoteVocabulary" ng-controller="RemoteVocabularyController">-->
                    <!--<div ng-show="!value">-->
                        <!--<label>{{ field.label }}</label>-->
                        <!--<input type="text" ng-model="chosenState" typeahead="state as state.label for state in getStates($viewValue)"/>-->
                    <!--</div>-->
                    <!--<div ng-show="value">-->
                        <!--<a ng-href="{{ value.uri }}">{{ value.label }} ({{ value.id }})</a>-->
                    <!--</div>-->
                <!--</div>-->

                <div ng-show="el.remoteVocabulary" ng-controller="RemoteVocabularyController">

                    <label>{{ field.label }}</label>
                    <div ng-show="editorEnabled">
                        <input type="text" ng-model="chosenState" typeahead="state as state.label for state in getStates($viewValue)"/>
                        <span ng-click="disableEditor()" class="badge pointer"><i class="icon-ok-circle icon-white"></i> done</span>
                    </div>
                    <div ng-show="!editorEnabled">
                        <a ng-href="{{ value.uri }}">{{ value.label }} ({{ value.id }})</a>
                        <span ng-click="enableEditor()" class="badge pointer">Edit</span>
                    </div>
                </div>

                <div ng-show="el.localVocabulary" ng-controller="LocalVocabularyController">
                    <label>{{ el.name }}</label>
                    <div ng-show="el.editorEnabled">
                        <input type="text" ng-model="el.value" typeahead="option for option in options"/>
                        <span ng-click="disableEditor()" class="badge pointer"><i class="icon-ok-circle icon-white"></i> done</span>
                    </div>
                    <div ng-show="!el.editorEnabled">
                        <span ng-click="enableEditor()" tooltip-placement="left" tooltip="Click to edit" class="pointer">{{ el.value }}</span>
                        <span ng-click="enableEditor()" class="badge pointer">Edit</span>
                    </div>
                </div>

                <div ng-show="el.textInput">
                    <label>{{ el.textInput.label }}</label>
                    <div ng-show="el.editorEnabled">
                        <input type="text" ng-model="el.value"/>
                        <span ng-click="disableEditor()" class="badge pointer"><i class="icon-ok-circle icon-white"></i> done</span>
                    </div>
                    <div ng-show="el.value && !el.editorEnabled">
                        <span ng-click="enableEditor()" tooltip-placement="left" tooltip="Click to edit" class="pointer">{{ el.value }}</span>
                        <span ng-click="enableEditor()" class="badge pointer">Edit</span>
                    </div>
                </div>

                <div ng-show="el.textArea">
                    <label>{{ el.textArea.label }}</label>
                    <div ng-show="el.editorEndabled">
                        <textarea ng-model="el.value"></textarea>
                        <span ng-click="disableEditor()" class="badge pointer"><i class="icon-ok-circle icon-white"></i> done</span>
                    </div>
                    <div ng-show="!el.editorEnabled">
                        <span>{{ el.value }}</span>
                        <span ng-click="enableEditor()" class="badge pointer">Edit</span>
                    </div>
                </div>

            </form>

            <ul class="nav nav-pills nav-stacked panel-list">
                <li ng-repeat="member in el.elements">
                    <a href
                       class="level{{member.classIndex}} link-{{ member.name }}"
                       ng-click="choose($index, $parent.$index)">
                        {{ member.name }}
                    </a>
                    <span ng-show="member.multiple"
                          tooltip-placement="bottom"
                          tooltip="Add {{member.name}}"
                          class="plus display-{{ member.multiple }}"
                          ng-click="addSibling(el.elements, $index, $parent.index)">
                        <i class="icon-plus-sign icon-white"></i>
                    </span>
                    <span ng-show="member.doc"
                          class="documentation"
                          popover-trigger="mouseenter"
                          popover-placement="top"
                          popover-title="{{member.name}}"
                          popover="{{member.doc}}"><i class="icon-question-sign icon-white"></i>
                    </span>
                </li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>

