<h1 class="page-header">CRM Object</h1>
<div id="panel-container">

<table cellpadding="20" border="0" class="table panels" ng-controller="I18NController" id="panel-table">
    <thead>
    <tr>
        <th ng-repeat="panel in panels" class="panel-header">{{ panel.element | elementTitle }}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td ng-repeat="panel in panels" ng-controller="PanelController"
            class="level{{$index}} bordered-{{!$first}} panel panel-last-{{$last}}" arrow-key="arrowKeyPressed($direction)">
            <div ng-show="!el.elements" class="panel-input">

                <div ng-show="el.vocabulary" ng-controller="VocabularyController" class="vocabulary-input">
                    <div ng-show="el.edit && !el.elements">
                        <input focus
                               id="vocabulary"
                               type="text"
                               ng-model="chosenState"
                               typeahead="state as stateToString(state) for state in getStates($viewValue)"
                        />
                        <span ng-click="disableEditor()" class="badge pointer" accesskey="y"><i class="icon-ok-circle icon-white"></i> Yes</span>
                        <span ng-show="!el.elements" ng-click="createNew()" class="badge badge-warning pointer">New</span>
                    </div>
                    <div ng-show="!el.edit && !el.elements && el.valueFields">
                        <ul>
                            <li ng-repeat="line in el.valueFields">
                                <span>{{ line.prompt }}</span>: <span>{{ line.value }}</span>
                            </li>
                        </ul>
                        <span ng-click="enableClearedEditor()" class="badge pointer">Edit</span>
                    </div>
                    <div ng-show="el.elements" ng-controller="VocabularyController">
                        <span ng-click="cancelNew()" class="badge badge-warning">Cancel</span>
                        <span ng-click="submitNew()" class="badge badge-warning">Submit</span>
                    </div>
                </div>

                <div ng-show="el.textInput" ng-controller="TextInputController" class="text-input">
                    <div ng-show="el.edit">
                        <input focus
                                id="textInput"
                                type="text"
                                ng-model="el.value"
                        />
                        <span ng-click="disableEditor()" class="badge pointer"><i class="icon-ok-circle icon-white"></i> Yes</span>
                    </div>
                    <div ng-show="!el.edit">
                        <span ng-click="enableEditor()" tooltip-placement="left" tooltip="Click to edit" class="pointer">{{ el.value }}</span>
                        <span ng-click="enableEditor()" class="badge pointer">Edit</span>
                    </div>
                    <div ng-show="invalidMessage">
                        <span>{{ invalidMessage }}</span>
                    </div>
                </div>

      
                <div ng-show="el.textArea" class="textarea-input" ng-controller="TextAreaController">
                    <div ng-show="el.edit">
                        <textarea focus
                                id="textArea"
                                ng-model="el.value"
                                rows="5"
                                ></textarea>
                        <span ng-click="disableEditor()" class="badge pointer"><i class="icon-ok-circle icon-white"></i> Yes</span>
                    </div>
                    <div ng-show="!el.edit">
                        <span>{{ el.value }}</span>
                        <span ng-click="enableEditor()" class="badge pointer">Edit</span>
                    </div>
                </div>

            </div>

            <input id="hidden" ng-show="false" ng-controller="HiddenController" focus/>
            <ul ng-show="el.elements" class="nav nav-pills nav-stacked panel-list">
                <li ng-repeat="element in el.elements">
                    <a href
                       class="level{{ element.classIndex }} link-{{ element.name }}"
                       ng-click="choose($index, $parent.$index)">
                        {{ element | elementTitle }}
                    </a>
                    <span ng-show="element.multiple"
                          tooltip-placement="bottom"
                          tooltip="Add {{ element | elementTitle }}"
                          class="plus display-{{ element.multiple }}"
                          ng-click="addSibling(el.elements, $index, $parent.index)">
                        <i class="icon-plus-sign icon-white"></i>
                    </span>
                    <span ng-show="element.doc"
                          class="documentation"
                          popover-trigger="mouseenter"
                          popover-placement="top"
                          popover-title="{{ element | elementTitle }}"
                          popover="{{ element.doc }}"><i class="icon-question-sign icon-white"></i>
                    </span>
                </li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>
</div>
