<div class="fade-in">

    <div class="page-header">
        <h1 i18n="People"><span class="i18n">People</span></h1>
    </div>

    <div class="navbar">
        <div class="navbar-inner">
            <div class="controls pull-right">
                <a href class="btn btn-primary" ng-click="newGroupToggle()" i18n="NewGroup">
                    <i class="icon icon-plus icon-white"></i>
                    <span class="i18n"></span>
                </a>
            </div>
        </div>

    </div>

    <div class="widget-box" ng-show="creatingGroup">
        <div class="widget-title">
            <span class="icon"><i class="icon-users"></i></span>
            <h5>Create group</h5>
        </div>
        <div class="widget-body">
            <div ng-show="groupCreated" class="alert alert-success fade-in">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                Group was created successfully!
            </div>
            <!--<alert type="success" close="close()">Group was created successfully!</alert>-->
            <label>Name:</label>
            <input focus type="text" ng-model="groupName" class="input-block-level"/>
            <label>Adress:</label>
            <input type="text" ng-model="groupAddress" class="input-block-level"/>
        </div>
        <div class="widget-footer">
            <button ng-click="createGroup()" class="btn btn-small btn-success" data-i18n="CreateGroup">
                <i class="icon-download-alt icon-white"></i> <span class="i18n"></span>
            </button>
        </div>
    </div>

    <div class="widget-box" ng-show="addingUser">
        <div class="widget-title">
            <span class="icon"><i class="icon-user"></i></span>
            <h5>Assign user to group and assign role <span ng-bind="selectedGroup.Name"></span> as <span ng-bind="selectedGroup.Role"></span></h5>
        </div>
        <div class="widget-body">

            <div ng-show="userAssigned" class="alert alert-success fade-in">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                User successfully assigned to group!
            </div>
            <label>User-email:</label>
            <input type="text" ng-model="chosenUser" class="input-block-level"
                   typeahead="user as userToString(user) for user in typeAheadUsers($viewValue)"/>
        </div>
        <div class="widget-footer">
            <!--<button ng-click="cancelNew()" class="btn btn-small btn-danger" data-i18n="Cancel"><i class="icon-remove-circle icon-white"></i> <span class="i18n"></span></button>-->
            <!--<input type="hidden" ng-model="chosenGroup"/>-->
            <button ng-click="assignUserToGroup()" class="btn btn-small btn-success" data-i18n="Assign"><i class="icon-magnet icon-white"></i> <span class="i18n"></span></button>
        </div>
    </div>

    <div class="user-accordions">

        <accordion>
            <accordion-group ng-repeat="group in groupList">
                <accordion-heading>
                    <div class="clearfix">
                        <span class="pull-left" ng-click="populateGroup(group)">{{ group.Name }}</span>
                    </div>
                </accordion-heading>

                <table class="table table-striped table-bordered table-grid">
                    <thead>
                        <tr>
                            <th width="250" i18n="Email"><span class="i18n">Email</span></th>
                            <th width="250" i18n="Name"><span class="i18n">Name</span></th>
                            <th i18n="Role"><span class="i18n">Role</span></th>
                            <th width="300">
                                <a href class="btn btn-primary btn-small" ng-click="addUserToggle('Member')" i18n="AddMember">
                                    <i class="icon icon-plus icon-white"></i>
                                    <span class="i18n">Add Member</span>
                                </a>
                                <a href class="btn btn-primary btn-small btn-warning" ng-click="addUserToggle('Administrator')" i18n="AddAdministrator">
                                    <i class="icon icon-plus icon-white"></i>
                                    <span class="i18n">Add Administrator</span>
                                </a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in group.userList">
                            <td>{{ user.Profile.email }}</td>
                            <td>{{ user.Profile.firstName }} {{ user.Profile.lastName }}</td>
                            <td>{{ user.GroupMember.Role}}</td>
                            <td>
                                <button class="btn btn-small btn-danger" ng-click="removeUserFromGroup(user)"><i class="icon-trash icon-white"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </accordion-group>
        </accordion>

    </div>

    <!--<table class="table table-striped table-bordered table-grid">-->
        <!--<thead>-->
        <!--<th i18n="Group" colspan="2"><span class="i18n"/></th>-->
        <!--</thead>-->
        <!--<tbody>-->
        <!--<tr data-ng-hide="groupList.length">-->
            <!--<td>-->
                <!--Currently no groups created-->
            <!--</td>-->
        <!--</tr>-->
        <!--<tr data-ng-repeat="group in groupList">-->
            <!--<td ng-click="populateGroup(group)">{{ group.Name }}</td>-->
            <!--<td width="100">-->
                <!--<a href class="btn btn-primary btn-small" ng-click="newGroupDialog()" i18n="AddUser">-->
                    <!--<i class="icon icon-plus icon-white"></i>-->
                    <!--<span class="i18n"></span>-->
                <!--</a>-->
            <!--</td>-->
        <!--</tr>-->
        <!--</tbody>-->
    <!--</table>-->

    <!--<div class="row-fluid">-->
             <!--<div class="span4">-->
                 <!--<div class="widget-box">-->
                     <!--<div class="widget-title">-->
                         <!--<span class="icon"><i class="icon-users"></i></span>-->
                         <!--<h5>Create group</h5>-->
                     <!--</div>-->
                     <!--<div class="widget-body">-->
                         <!--<div ng-show="groupCreated" class="alert alert-success fade-in">-->
                             <!--<button type="button" class="close" data-dismiss="alert">&times;</button>-->
                             <!--Group was created successfully!-->
                         <!--</div>-->
                         <!--&lt;!&ndash;<alert type="success" close="close()">Group was created successfully!</alert>&ndash;&gt;-->
                         <!--<label>Name:</label>-->
                         <!--<input focus type="text" ng-model="groupName" class="input-block-level"/>-->
                         <!--<label>Adress:</label>-->
                         <!--<input type="text" ng-model="groupAddress" class="input-block-level"/>-->
                     <!--</div>-->
                     <!--<div class="widget-footer">-->
                         <!--<button ng-click="createGroup()" class="btn btn-small btn-success" data-i18n="CreateGroup">-->
                             <!--<i class="icon-download-alt icon-white"></i> <span class="i18n"></span>-->
                         <!--</button>-->
                     <!--</div>-->
                 <!--</div>-->
             <!--</div>-->
        <!--<div class="span4">-->
            <!--<div class="widget-box">-->
                <!--<div class="widget-title">-->
                    <!--<span class="icon"><i class="icon-user"></i></span>-->
                    <!--<h5>Assign user to group and assign role</h5>-->
                <!--</div>-->
                <!--<div class="widget-body">-->

                        <!--<div ng-show="userAssigned" class="alert alert-success fade-in">-->
                            <!--<button type="button" class="close" data-dismiss="alert">&times;</button>-->
                            <!--User successfully assigned to group!-->
                        <!--</div>-->
                        <!--<label>User-email:</label>-->
                        <!--<input type="text" ng-model="chosenUser" class="input-block-level"-->
                               <!--typeahead="user as userToString(user) for user in typeAheadUsers($viewValue)"/>-->

                        <!--<label>Group:</label>-->
                        <!--<input type="text" ng-model="chosenGroup" class="input-block-level"-->
                               <!--typeahead="group as groupToString(group) for group in typeAheadGroups($viewValue)"/>-->
                        <!--<label>Role:</label>-->
                        <!--<select id="role-select" ng-model="chosenRole">-->
                            <!--<option value="">---------</option>-->
                            <!--<option ng-repeat="role in roles">{{ role.name }}</option>-->
                        <!--</select>-->
                <!--</div>-->
                <!--<div class="widget-footer">-->
                    <!--&lt;!&ndash;<button ng-click="cancelNew()" class="btn btn-small btn-danger" data-i18n="Cancel"><i class="icon-remove-circle icon-white"></i> <span class="i18n"></span></button>&ndash;&gt;-->
                    <!--<button ng-click="assignUserToGroup()" class="btn btn-small btn-success" data-i18n="Assign"><i class="icon-magnet icon-white"></i> <span class="i18n"></span></button>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="span4">-->
            <!--<div class="widget-box">-->
                <!--<div class="widget-title">-->
                    <!--<span class="icon"><i class="icon-users"></i></span>-->
                    <!--<h5>Current groups & users</h5>-->
                <!--</div>-->
                <!--<div class="widget-body user-accordion">-->

                    <!--<accordion>-->
                        <!--<accordion-group ng-repeat="group in groupList">-->
                            <!--<accordion-heading><span ng-click="populateGroup(group)">{{ group.Name }}</span></accordion-heading>-->
                            <!--<ul ng-show="group.userList">-->
                                <!--<li ng-repeat="user in group.userList">{{ user.Profile.email }}</li>-->
                            <!--</ul>-->
                        <!--</accordion-group>-->
                    <!--</accordion>-->

                <!--</div>-->
            <!--</div>-->
        <!--</div>-->



    <!--</div>-->

</div>