<div class="fade-in">

    <div class="page-header">
        <h1 i18n="People"><span class="i18n">People</span></h1>
    </div>
    <div class="row-fluid">
             <div class="span3">
                 <div class="widget-box">
                     <div class="widget-title">
                         <span class="icon"><i class="icon-user"></i></span>
                         <h5>Create group</h5>
                     </div>
                     <div class="widget-body">
                         <div ng-show="groupCreated" class="alert alert-success fade-in">
                             <button type="button" class="close" data-dismiss="alert">&times;</button>
                             Group was created successfully!
                         </div>
                         <!--<alert type="success" close="close()">Group was created successfully!</alert>-->
                         <label>Name:</label>
                         <input focus type="text" ng-model="groupName" class="input-block-level"/>
                         <label>Adress:</label>
                         <input type="text" ng-model="groupAddress" class="input-block-level"/>
                     </div>
                     <div class="widget-footer">
                         <button ng-click="createGroup()" class="btn btn-small btn-success" data-i18n="CreateGroup">
                             <i class="icon-download-alt icon-white"></i> <span class="i18n"></span>
                         </button>
                     </div>
                 </div>
             </div>
        <div class="span3">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"><i class="icon-user"></i></span>
                    <h5>Assign user group and role</h5>
                </div>
                <div class="widget-body">

                        <div ng-show="userAssigned" class="alert alert-success fade-in">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            User successfully assigned to group!
                        </div>
                        <label>User-email:</label>
                        <input type="text" ng-model="chosenUser" class="input-block-level"
                               typeahead="user as userToString(user) for user in typeAheadUsers($viewValue)"/>

                        <label>Group:</label>
                        <input type="text" ng-model="chosenGroup" class="input-block-level"
                               typeahead="group as groupToString(group) for group in typeAheadGroups($viewValue)"/>
                        <label>Role:</label>
                        <select id="role-select"
                                ng-model="chosenRole"
                                ng-options="role.value as role.name for role in roles">
                        </select>
                </div>
                <div class="widget-footer">
                    <!--<button ng-click="cancelNew()" class="btn btn-small btn-danger" data-i18n="Cancel"><i class="icon-remove-circle icon-white"></i> <span class="i18n"></span></button>-->
                    <button ng-click="assignUserToGroup()" class="btn btn-small btn-success" data-i18n="Assign"><i class="icon-magnet icon-white"></i> <span class="i18n"></span></button>
                </div>
            </div>
        </div>





    </div>
</div>