<div class="fade-in">

    <div class="page-header">
        <h1 i18n="WelcomeToOscrMain"><span class="i18n"/> <small i18n="WelcomeToOscrSub"><span class="i18n"/></small></h1>
    </div>

    <div class="row widget-row home">
        <div class="col-md-6">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"><i class="glyphicon glyphicon-search"></i></span>
                    <h5 i18n="SearchAllDocuments"><span class="i18n"/></h5>
                </div>
                <div class="widget-body">
                    <form data-ng-submit="doPublicSearch(searchString)" class="navbar-form form-inline">
                        <div class="input-group">
                            <input type="text" data-ng-model="searchString" class="form-control"/>
                            <span class="input-group-addon pointer" type="submit" ng-click="doPublicSearch(searchString)"><i class="glyphicon glyphicon-search "></i> </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"><i class="glyphicon glyphicon-user"></i></span>
                    <h5 i18n="CurrentGroups"><span class="i18n"/></h5>
                </div>
                <div class="widget-body">
                    <select class="form-control" id="list-current-groups">
                        <option>- - - - - - - - - - - - - - - - - - - - - - - - - </option>
                        <option bindonce ng-repeat="group in groupList" value="/people/group/{{group.Identifier}}" bo-text="group.Name"></option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <div data-ng-hide="headerList.length" i18n="NoPublicDocuments">
            <div class="badge badge-warning"><span class="i18n"></span></div>
        </div>

        <div class="thumbnails" data-ng-show="headerList.length">
            <div data-ng-repeat="header in headerList" class="col-md-3">
                <div class="thumbnail">
                    <a href ng-click="choosePath(header, true)">
                        <div class="media">
                            <img ng-src="{{ getThumbPath(header) }}" class="pull-left" data-ng-show="hasThumbnail(header)"/>
                            <div class="media-body">
                                <div class="media-heading" data-ng-repeat="title in getTitles(header)">
                                    {{ title }}
                                </div>
                                <ul class="list-unstyled list-key-value">
                                    <li>
                                        <span class="key" i18n="Type">
                                            <span class="i18n"/>
                                        </span>
                                        <span class="value" i18n="{{header.SchemaName}}">
                                            <span class="i18n"/>
                                        </span>
                                    </li>
                                    <li>
                                        <span class="key" i18n="OwningGroup">
                                            <span class="i18n"/>
                                        </span>
                                        <span class="value">
                                            {{ header.group.Name }}
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="list-controls">
            <div class="badge badge-success pointer" data-ng-click="getMoreResults()" i18n="MoreThan" ng-show="couldBeMoreResults()">
                <i class="icon icon-white icon-hand-down"></i>
                <span class="i18n"></span>
                <span>{{ headerList.length }}</span>
            </div>
            <div class="badge badge-info pointer pull-right" data-ng-click="scrollToTop()" data-ng-show="headerList.length > 12" i18n="BackToTop">
                <i class="icon icon-white icon-hand-up"></i>
                <span class="i18n"/></span>
            </div>
        </div>

    </div>
</div>
