<!--This file contains only templates, and is tied to the controllers in element-edit.js-->

<script type="text/ng-template" id="expert-field-label.html">
    <legend i18n="{{ el.name }}">
        <div class="field-controls">
            <span class="icon-item status status-{{ el.invalid }}"></span>
            <span ng-show="el.config.multiple"
                  class="display-{{ el.config.multiple }} icon-item pointer"
                  ng-click="addSibling(panel.element, $index, panelIndex)">
                    <i class="icon-plus-sign"></i>
            </span>
            <span ng-show="el.config.multiple"
                  class="display-{{ el.config.multiple }} icon-item pointer"
                  ng-click="removeSibling(panel.element, $index, panelIndex)">
                    <i class="icon-minus-sign"></i>
            </span>
        </div>
        <span class="i18n"></span>:
    </legend>
</script>

<script type="text/ng-template" id="expert-submenu.html">
    <div data-ng-include="'expert-field-label.html'"/>
    <div  data-ng-controller="ExpertElementController">
        <div class="field indent" ng-repeat="el in el.elements" ng-include="getExpertEditTemplate(el)"></div>
    </div>
</script>

<script type="text/ng-template" id="expert-line.html">
    <div data-ng-include="'expert-field-label.html'"/>
    <div class="panel-input line-element">
        <div class="input-block-level" data-ng-controller="TextInputController">
            <input class="input-block-level" type="text" ng-model="el.value" />
            <div ng-show="el.invalidMessage">
                <span class="label label-important">{{ el | invalidMessage }}</span>
                <span ng-show="config.showTranslationEditor" ng-click="openLabelDialog(el.invalidMessage)"
                      tooltip-placement="right" class="badge badge-warning badge-i18n">
                      <i class="icon-translate icon-white"></i>
                </span>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="expert-paragraph.html">
    <div data-ng-include="'expert-field-label.html'"/>
    <div class="panel-input paragraph-element">
        <div class="textarea-input" data-ng-controller="TextInputController">
            <textarea class=" input-block-level" ng-model="el.value" rows="5"></textarea>
        </div>
    </div>
</script>

<script type="text/ng-template" id="expert-vocabulary.html">
    <div data-ng-include="'expert-field-label.html'"/>
    <div class="panel-input vocabulary-element">
        <div data-ng-controller="VocabularyController" class="vocabulary-input">
            <div ng-if="!el.value">
                <input type="text" ng-model="el.searchValue" class="input-block-level" ng-focus="el.editing = true" />
            </div>
            <div ng-if="el.value">
                <input style="opacity: 0; width: 0; height: 0; " ng-focus="el.editing = true"/>
                <span class="label" ng-click="">{{ el.value.Label }}</span>
            </div>
            <!--<div ng-hide="el.editing" ng-click="enableVocabularyEditor()" class="pointer chosen-value">-->
                <!--<input style="opacity: 0; width: 0; height: 0; " ng-focus="enableVocabularyEditor(el)"/>-->
                <!--<span class="label">{{ el.value.Label || '?' }}</span>-->
            <!--</div>-->
            <!--<div ng-show="el.editing">-->
                <!--<input type="text" ng-model="el.searchValue" class="input-block-level"/>-->
            <!--</div>-->
        </div>
    </div>
</script>

<script type="text/ng-template" id="expert-vocabulary-search.html">
    <div data-ng-controller="VocabularySearchController" class="vocabulary-controls">
        <!-- DISPLAY CURRENT VALUE //-->
        <div ng-show="el.value" i18n="CurrentValue" class="current">
            <label><span class="i18n"/>:</label> <span class="value">{{ el.value.Label }}</span>
        </div>
        <!-- DISPLAY VALUE BEING SEARCHED FOR //-->
        <div i18n="SearchFor">
            <label><span class="i18n"/>:</label>
            <span class="value search-value">{{ el.searchValue }}</span>
        </div>
        <!-- DISPLAY ADD BUTTON FOR NEW VALUE //-->
        <span ng-hide="el.entries">
            <button ng-click="createNewValue()" class="btn btn-small" i18n="AddTerm">
                <i class="icon-plus"></i> <span class="i18n"/>: <span class="label label-success">{{ el.searchValue }}</span>
            </button>
        </span>
        <!-- DISPLAY LIST OF RETURNED VALUES //-->
        <div ng-show="el.entries">
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" style="display: block; position: static; margin-bottom: 5px; width: 97%;">
                <li ng-repeat="entry in el.entries">
                    <a href tabindex="-1"  ng-click="setValue(entry)">{{entry.Label}}</a>
                    <!--<div class="vocabulary-extended">-->
                        <!--bla-->
                    <!--</div>-->
                </li>
            </ul>
        </div>
    </div>
</script>

<script type="text/ng-template" id="expert-media.html">
    <div data-ng-include="'expert-field-label.html'"/>
    <div data-ng-controller="MediaElementController" class="panel-input media-element">
        <div class="digital-object-input">
            <div ng-show="el.value" class="media">
                <div class="media-thumbnail">
                    <img ng-src="{{ el | mediaThumbnail }}" /><br/>
                    <div class="mime">{{ el | mediaMimeType }}</div>
                </div>
                <div class="media-controls">
                    <button tooltip-placement="bottom" tooltip="Click to edit" ng-click="enableMediaEditor()" class="btn btn-small" i18n="EditMedia" >
                        <i class="icon-edit"></i>
                        <span class="i18n"></span>
                    </button>
                    <button ng-show="isVideo(el)" class="btn btn-small" ng-click="openVideoPreview(el)" i18n="PreviewVideo" >
                        <i class="icon icon-film"></i>
                        <span class="i18n"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="expert-media-search.html">
    <div ng-controller="MediaSearchController">
        <tabset class="media-tabs">
            <tab>
                <tab-heading>
                    <span class="nav-tabs" i18n="UploadedFiles" ng-click="refreshImageList()">
                    <span class="i18n"/>
                </tab-heading>
                <div ng-show="mediaList" class="oscr-media-grid">
                    <ul class="media-thumb-list">
                        <!--<li data-ng-repeat="entry in mediaList" data-ng-show="entry.Header.Identifier">-->
                        <li data-ng-repeat="entry in mediaList">
                            <div class="media-thumb pointer">
                                <img id="oscr-media-grid-thumb-{{$index}}"
                                     ng-src="{{ entry.Header.Identifier | mediaThumbnail }}"
                                     ng-click="selectMedia(entry)"/>
                            </div>
                            <div class="mime">{{ entry | mediaMimeType }}</div>
                        </li>
                    </ul>
                </div>
            </tab>
            <tab>
                <tab-heading>
                    <span class="nav-tabs" i18n="MediaUpload"><span class="i18n"/></span>
                </tab-heading>
                <div data-ng-controller="MediaUploadController" data-ng-include="'views/media-lite.html'"></div>
            </tab>
        </tabset>
    </div>
</script>

<script type="text/ng-template" id="expert-instance.html">
    <!--todo: eric styling-->
    <div class="panel-input vocabulary-element">
        <div data-ng-controller="InstanceController" class="vocabulary-input">
            <div ng-show="isActiveEl(el)">
                <div ng-hide="el.editing" ng-click="enableInstanceEditor()" class="pointer chosen-value">
                    <span class="label">{{ el.value.SummaryFields.Title || '?' }}</span>
                </div>
                <div ng-show="el.editing">
                    <!--<div class="input-append">-->
                    <input el-focus="el" el-focus-element="focusElement" type="text" ng-model="el.searchValue" class="input-block-level"/>
                    <!-- todo: make it possible to ADD term by hitting add button or pressing ENTER on keyboard (but those are in the VocabularySearchController of the next panel//-->
                    <!--<span class="add-on" ng-click="createNewValue()"><i class="icon-plus"></i></span>-->
                    <!--</div>-->

                </div>
            </div>
            <div ng-hide="isActiveEl(el)">
                <div ng-click="enableInstanceEditor()" class="pointer chosen-value" tabindex="0">
                    <span class="label">{{ el.value.SummaryFields.Title || '?' }}</span>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="expert-instance-search.html">
    <!--todo: eric styling-->
    <div data-ng-controller="InstanceSearchController" class="vocabulary-controls">
        <!-- DISPLAY CURRENT VALUE //-->
        <div ng-show="el.value" i18n="CurrentValue" class="current">
            <label><span class="i18n"/>:</label> <span class="value">{{ el.value..Header.SummaryFields.Title }}</span>
        </div>
        <!-- DISPLAY VALUE BEING SEARCHED FOR //-->
        <div i18n="SearchFor">
            <label><span class="i18n"/>:</label>
            <span class="value search-value">{{ el.searchValue }}</span>
        </div>
        <!-- DISPLAY LIST OF RETURNED VALUES //-->
        <div ng-show="el.entries">
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" style="display: block; position: static; margin-bottom: 5px; width: 97%;">
                <li ng-repeat="entry in el.entries">
                    <a href tabindex="-1"  ng-click="setValue(entry)">{{ entry.SummaryFields.Title }}</a>
                    <!--<div class="vocabulary-extended">-->
                    <!--bla-->
                    <!--</div>-->
                </li>
            </ul>
        </div>
    </div>
</script>

<script type="text/ng-template" id="expert-field-documentation.html">
    <div class="panel-input field-documentation-element" data-ng-controller="FieldDocumentationController">
        <div ng-hide="el.elements">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"><i class=" icon-info-sign"></i></span>
                    <h5>{{ el | elementTitle }}</h5>
                </div>
                <div class="widget-body">
                    <p ng-show="el.doc">{{ el | elementDoc }}</p>
                </div>
                <div class="widget-footer">
                    <button ng-click="openDocDialog(el)" class="btn btn-small"><i class="icon-edit"></i></button>
                </div>
            </div>
        </div>
    </div>
</script>

