<!--This file contains only templates, and is tied to the controllers in element-edit.js-->

<script type="text/ng-template" id="panel-submenu.html">
    <input el-focus="el" el-hidden-focus="el" class="stealth" data-ng-focus="focusArrived(el, $index, panelIndex)"/>
</script>

<script type="text/ng-template" id="panel-line.html">
    <div class="panel-input line-element editing-{{isEditing(el)}}" data-ng-controller="TextInputController">
        <div data-ng-if="isEditing(el)">
            <input el-focus="el" class="form-control" type="text" ng-model="el.value" />
            <div data-ng-if="el.invalidMessage">
                <span class="label label-warning">{{ el | invalidMessage }}</span>
                <span ng-show="config.showTranslationEditor" ng-click="openLabelDialog(el.invalidMessage)"
                      class="badge badge-warning badge-i18n">
                      <i class="glyphicon glyphicon-globe"></i>
                </span>
            </div>
        </div>
        <div data-ng-if="!isEditing(el)" ng-click="setEditing(true)">
            <input el-hidden-focus="el" class="form-control disabled" type="text" value="{{ displayValue }}" data-ng-focus="focusArrived(el, $index, panelIndex); setEditing(true)"/>
        </div>
    </div>
</script>

<script type="text/ng-template" id="panel-paragraph.html">
    <div class="panel-input paragraph-element" data-ng-controller="TextInputController">
        <div data-ng-if="isEditing(el)">
            <textarea el-focus="el" ng-model="el.value" rows="5" class="form-control"></textarea>
        </div>
        <div data-ng-if="!isEditing(el)" ng-click="setEditing(true)">
            <textarea class="disabled form-control" rows="5" el-hidden-focus="el" ng-focus="focusArrived(el, $index, panelIndex); setEditing(true)">{{ displayValue }}</textarea>
        </div>
    </div>
</script>

<script type="text/ng-template" id="panel-vocabulary.html">
    <div class="panel-input vocabulary-element">
        <div data-ng-controller="VocabularyController" class="vocabulary-input">
            <div data-ng-if="isEditing(el)">
                <input el-focus="el" type="text" ng-model="el.searchValue" class="form-control"/>
            </div>
            <div data-ng-if="!isEditing(el)" ng-click="setEditing(true)">
                <input type="text" value="{{ displayValue }}" class="form-control disabled"
                       el-hidden-focus="el" data-ng-focus="focusArrived(el, $index, panelIndex); setEditing(true)"/>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="panel-vocabulary-search.html">
    <div data-ng-controller="VocabularySearchController" class="vocabulary-controls">
        <!-- DISPLAY CURRENT VALUE //-->
        <div ng-show="el.value" i18n="CurrentValue" class="current">
            <label><span class="i18n"/>:</label> <span class="value">{{ el.value.Label }}</span>
        </div>
        <!-- DISPLAY VALUE BEING SEARCHED FOR //-->
        <div i18n="SearchingFor">
            <label><span class="i18n"/>:</label>
            <span class="value search-value">{{ el.searchValue }}</span>
        </div>
        <!-- DISPLAY ADD BUTTON FOR NEW VALUE //-->
        <span ng-show="el.entries.length == 0 && !el.config.vocabularyFixed">
            <button ng-click="createNewValue()" class="btn btn-default" i18n="AddTerm">
                <i class="glyphicon glyphicon-plus"></i> <span class="i18n"/>: <span class="label label-success">{{ el.searchValue }}</span>
            </button>
        </span>
        <!-- DISPLAY LIST OF RETURNED VALUES //-->
        <div ng-show="el.entries">
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" style="display: block; position: static; margin-bottom: 5px; width: 97%;">
                <li ng-repeat="entry in el.entries">
                    <a href tabindex="-1"  ng-click="setValue(entry)">{{entry.Label}}</a>
                </li>
            </ul>
        </div>
    </div>
</script>

<script type="text/ng-template" id="panel-media.html">
    <div data-ng-controller="MediaElementController" class="panel-input media-element">
        <div class="digital-object-input">
            <div ng-show="!el.value">
                <button class="btn btn-default" ng-click="toggleMediaAsideList()" i18n="Add"><span class="i18n"></span></button>
            </div>
            <div ng-show="el.value" class="media">
                <div class="media-thumbnail">
                    <img ng-src="{{ el | mediaThumbnail }}" /><br/>
                    <div class="mime">{{ el | mediaMimeType }}</div>
                </div>
                <button class="btn btn-default" ng-click="toggleMediaAsideList(true)" i18n="Change"><span class="i18n"></span></button>
            </div>

        </div>
        <input el-hidden-focus="el" el-focus="el" class="stealth" data-ng-focus="focusArrived(el, $index, panelIndex); setEditing(true)"/>
    </div>
</script>

<script type="text/ng-template" id="panel-media-search.html">
    <div ng-controller="MediaSearchController">
        <div ng-controller="MediaUploadController">
            <div oscr-media-aside-select></div>
            <div oscr-media-aside-upload></div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="panel-instance.html">
    <div class="panel-input vocabulary-element">
        <div data-ng-controller="InstanceController" class="vocabulary-input">
            <div data-ng-show="isEditing(el)">
                <input el-focus="el" type="text" ng-model="el.searchValue" class="form-control"/>
            </div>
            <div data-ng-show="!isEditing(el)" ng-click="setEditing(true)">
                <div data-ng-show="isLinkFacts()" class="link-facts">
                    <h6 class="heading" i18n="LinkFacts"><span class="i18n"/>:</h6>
                        <div data-ng-repeat="linkFact in el.linkFacts">
                            <span i18n="{{ linkFact.name }}" class="key">
                                <span class="i18n"/></span>:  <span class="value">{{ linkFact.value }}</span>
                            </span>
                        </div>
                </div>
                <input type="text" value="{{ el.headerTitle }}" class="form-control disabled"
                       el-hidden-focus="el" data-ng-focus="focusArrived(el, $index, panelIndex)"/>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="panel-instance-search.html">
    <div data-ng-controller="InstanceSearchController" class="vocabulary-controls">
        <!-- DISPLAY CURRENT VALUE //-->
        <div ng-show="el.value" i18n="CurrentValue" class="current">

            <label><span class="i18n"/>:</label>
            <span class="value" data-ng-show="isHeader()">{{ el.headerTitle }}</span>

            <div data-ng-show="isLinkFacts()" class="link-facts">
                <h6 class="heading" i18n="LinkFacts"><span class="i18n"/>:</h6>
                <div data-ng-repeat="linkFact in el.linkFacts">
                    <span i18n="{{ linkFact.name }}" class="key"><span class="i18n"/></span>:  <span class="value">{{ linkFact.value }}</span></span>
                </div>
            </div>
        </div>
        <!-- DISPLAY VALUE BEING SEARCHED FOR //-->
        <div i18n="SearchingFor">
            <label><span class="i18n"/>:</label>
            <span class="value search-value">{{ el.searchValue }}</span>
        </div>
        <div ng-show="el.entries">
            <!-- DISPLAY MORE/LESS DETAIL TOGGLE //-->
        <div class="detail-controls">
            <span i18n="Found">
                <label><span class="i18n"/>:</label>
            </span>
            <span i18n="MoreDetails" class="badge badge-info pointer pull-right" data-ng-click="showInstanceDetails()" data-ng-hide="instanceDetails">
                <i class="glyphicon glyphicon-info-sign"></i> <span class="i18n"/>
            </span>
            <span i18n="LessDetails" class="badge badge-warning pointer pull-right" data-ng-click="showInstanceDetails()" data-ng-show="instanceDetails">
                <i class="glyphicon glyphicon-info-sign"></i> <span class="i18n"/>
            </span>
        </div>
        <!-- DISPLAY LIST OF RETURNED VALUES //-->
        <ul class="dropdown-menu vocabulary-list" role="menu" aria-labelledby="dLabel" style="display: block; position: static; margin-bottom: 5px; width: 97%;">
            <li ng-repeat="entry in el.entries">
                <a href tabindex="-1"  ng-click="setValue(entry)">{{ entry.Header.SummaryFields.Title }}</a>
                <div class="vocabulary-extended" ng-show="instanceDetails">
                    <div ng-include="getInstanceDetails(entry.Header.SchemaName)"></div>
                </div>
            </li>
        </ul>
        </div>
    </div>
</script>

<script type="text/ng-template" id="instance-details-person.html">
    <table class="table table-condensed table-vocabulary-details">
        <tr ng-show="entry.Body.Person.Birth.DateOfBirth">
            <th i18n="DateOfBirth"><span class="i18n"/></th>
            <td>{{ entry.Body.Person.Birth.DateOfBirth }}</td>
        </tr>
        <tr ng-show="entry.Body.Person.Birth.PlaceOfBirth.SummaryFields.Title">
            <th i18n="PlaceOfBirth"><span class="i18n"/></th>
            <td>{{ entry.Body.Person.Birth.PlaceOfBirth.SummaryFields.Title }}</td>
        </tr>
        <tr ng-show="entry.Body.Person.Appelation">
            <th i18n="Appelation"><span class="i18n"/></th>
            <td>{{ entry.Body.Person.Appelation }}</td>
        </tr>
        <tr ng-show="entry.Body.Person.GivenName">
            <th i18n="GivenName"><span class="i18n"/></th>
            <td>{{ entry.Body.Person.GivenName }}</td>
        </tr>
        <tr ng-show="entry.Body.Person.SurnamePrefix">
            <th i18n="SurnamePrefix"><span class="i18n"/></th>
            <td>{{ entry.Body.Person.SurnamePrefix }}</td>
        </tr>
        <tr ng-show="entry.Body.Person.Surname">
            <th i18n="Surname"><span class="i18n"/></th>
            <td>{{ entry.Body.Person.Surname }}</td>
        </tr>
    </table>
</script>

<script type="text/ng-template" id="instance-details-location.html">
    <table class="table table-condensed table-vocabulary-details">
        <tr ng-show="entry.Body.Location.LocationName.Appelation">
            <th i18n="Appelation"><span class="i18n"/></th>
            <td>{{  entry.Body.Location.LocationName.Appelation  }}</td>
        </tr>
        <tr ng-show="entry.Body.Location.GeonamesURI">
            <th i18n="GeonamesURI"><span class="i18n"/></th>
            <td>
                <a href="{{ entry.Body.Location.GeonamesURI }}" target="_blank">
                    {{  entry.Body.Location.GeonamesURI  }}
                </a>
            </td>
        </tr>
        <tr ng-show="entry.Body.Location.Coordinates.Longitude">
            <th i18n="Longitude"><span class="i18n"/></th>
            <td>{{ entry.Body.Location.Coordinates.Longitude   }}</td>
        </tr>
        <tr ng-show="entry.Body.Location.Coordinates.Latitude">
            <th i18n="Latitude"><span class="i18n"/></th>
            <td>{{ entry.Body.Location.Coordinates.Latitude }}</td>
        </tr>
    </table>
</script>

<script type="text/ng-template" id="instance-details-organization.html">
    <table class="table-condensed table-vocabulary-details">
        <tr ng-show="entry.Body.Organization.Appellation">
            <th i18n="Appelation"><span class="i18n"/></th>
            <td>{{  entry.Body.Organization.Appellation  }}</td>
        </tr>
        <tr ng-show="entry.Body.Organization.OrganizationType.Label">
            <th i18n="OrganizationType"><span class="i18n"/></th>
            <td>{{  entry.Body.Organization.OrganizationType.Label  }}</td>
        </tr>
        <tr ng-show="entry.Body.Organization.OrganizationBeginDate">
            <th i18n="OrganizationBeginDate"><span class="i18n"/></th>
            <td>{{  entry.Body.Organization.OrganizationBeginDate  }}</td>
        </tr>
        <tr ng-show="entry.Body.Organization.OrganizationEndDate">
            <th i18n="OrganizationEndDate"><span class="i18n"/></th>
            <td>{{  entry.Body.Organization.OrganizationEndDate  }}</td>
        </tr>
        <tr ng-show="entry.Body.Organization.ContactInfo.PostAddressLine">
            <th i18n="PostAddressLine"><span class="i18n"/></th>
            <td>{{  entry.Body.Organization.ContactInfo.PostAddressLine  }}</td>
        </tr>
        <tr ng-show="entry.Body.Organization.ContactInfo.HeadquartersLocation.SummaryFields.Title">
            <th i18n="Place"><span class="i18n"/></th>
            <td>{{  entry.Body.Organization.ContactInfo.HeadquartersLocation.SummaryFields.Title  }}</td>
        </tr>
    </table>
</script>

<script type="text/ng-template" id="instance-details-historical-event.html">
    <table class="table-condensed table-vocabulary-details">
        <!-- todo: get historical event detailled info -->
    </table>
</script>

<script type="text/ng-template" id="instance-details-default.html">
    <table class="table-condensed table-vocabulary-details">
        <tr>
            <th i18n="Title"><span class="i18n"/></th>
            <td>{{ entry.Header.SummaryFields.Title }}</td>
        </tr>
    </table>
</script>

<script type="text/ng-template" id="panel-field-documentation.html">
    <div class="panel-input field-documentation-element" data-ng-controller="FieldDocumentationController">
        <div ng-hide="el.elements">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"><i class="glyphicon glyphicon-info-sign"></i></span>
                    <h5>{{ el | elementTitle }}</h5>
                </div>
                <div class="widget-body">
                    <p ng-show="el.doc">{{ el | elementDoc }}</p>
                </div>
                <div class="widget-footer">
                    <button ng-click="openDocDialog(el)" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-edit"></i></button>
                </div>
            </div>
        </div>
    </div>
</script>



<script type="text/ng-template"  id="panel-unrecognized.html">
    <div class="panel-input">
        <span class="label">UNRECOGNIZED ELEMENT!</span>
    </div>
</script>


