<!--This file contains only templates, and is tied to the controllers in element-edit.js-->

<script type="text/ng-template" id="expert-field-label.html">
    <legend i18n="{{ el.name }}">
        <div class="field-controls">
            <span class="icon-item status status-{{ el.invalid }}"></span>
            <span ng-show="el.config.multiple"
                  class="display-{{ el.config.multiple }} icon-item pointer"
                  ng-click="addSibling(el)">
                    <i class="glyphicon glyphicon-plus-sign icon-white"></i>
            </span>
            <span ng-show="el.config.multiple"
                  class="display-{{ el.config.multiple }} icon-item pointer"
                  ng-click="removeSibling(el)">
                    <i class="glyphicon glyphicon-minus-sign icon-white"></i>
            </span>
        </div>
        <span class="i18n"></span>:
    </legend>
</script>

<script type="text/ng-template" id="expert-submenu.html">
    <div data-ng-include="'expert-field-label.html'"/>
    <div data-ng-controller="ExpertSubtreeController" ng-init="setParentEl(el)">
        <div class="field indent" ng-repeat="(elIndex, el) in parentEl.elements">
            <div data-ng-controller="ExpertElementController">
                <div class="field indent" ng-include="getExpertEditTemplate(el)"/>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="expert-line.html">
    <div data-ng-include="'expert-field-label.html'"/>
    <div class="expert-left-col">
        <div class="panel-input line-element">
            <div class="" data-ng-controller="TextInputController">
                <input class="form-control" type="text" ng-model="el.value" data-ng-focus="setActiveEl(el)"/>
                <div ng-show="el.invalidMessage">
                    <span class="label label-important">{{ el | invalidMessage }}</span>
                    <span ng-show="config.showTranslationEditor" ng-click="openLabelDialog(el.invalidMessage)"
                          tooltip-placement="right" class="badge badge-warning badge-i18n">
                          <i class="glyphicon glyphicon-globe"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="expert-right-col"></div>
</script>

<script type="text/ng-template" id="expert-paragraph.html">
    <div data-ng-include="'expert-field-label.html'"/>
    <div class="expert-left-col">
        <div class="panel-input paragraph-element">
            <div class="textarea-input" data-ng-controller="TextInputController">
                <textarea class=" form-control" ng-model="el.value" rows="5" data-ng-focus="setActiveEl(el)"></textarea>
            </div>
        </div>
    </div>
    <div class="expert-right-col"></div>
</script>

<script type="text/ng-template" id="expert-vocabulary.html">
    <div data-ng-include="'expert-field-label.html'"/>
    <div class="expert-left-col">
        <div class="panel-input vocabulary-element">
            <div data-ng-controller="VocabularyController" class="vocabulary-input">
                <div ng-if="!el.value">
                    <input type="text" class="form-control" ng-model="el.searchValue" data-ng-focus="setActiveEl(el)"/>
                </div>
                <div ng-if="el.value">
                    <input ng-if="!isEditing(el)" type="text" class="form-control" ng-model="el.value.Label" data-ng-focus="setActiveEl(el)"/>
                    <input ng-if="isEditing(el)" type="text" class="form-control" ng-model="el.searchValue" autofocus="true"/>
                </div>
            </div>
        </div>
    </div>
    <div class="expert-right-col">
        <div  data-ng-if="isEditing(el)" data-ng-controller="VocabularySearchController" class="vocabulary-controls">
            <!-- DISPLAY CURRENT VALUE //-->
            <div ng-show="el.value" i18n="CurrentValue" class="current">
                <label><span class="i18n"/>:</label> <span class="value">{{ el.value.Label }}</span>
            </div>
            <!-- DISPLAY VALUE BEING SEARCHED FOR //-->
            <div i18n="SearchFor">
                <label><span class="i18n"/>:</label>
                <span class="value search-value">{{ el.searchValue }}</span>
            </div>
            <!-- DISPLAY LIST OF RETURNED VALUES //-->
            <div ng-if="el.entries">
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" style="display: block; position: static; margin-bottom: 5px; width: 97%;">
                    <li ng-repeat="entry in el.entries">
                        <a href tabindex="-1"  ng-click="setValue(entry)">{{entry.Label}}</a>
                        <div class="vocabulary-extended" ng-show="instanceDetails">
                            <div ng-include="getInstanceDetails(entry.Header.SchemaName)"></div>
                        </div>
                    </li>
                </ul>
            </div>
            <div ng-show="el.entries && el.entries.length == 0  && !el.config.vocabularyFixed">
                <button ng-click="createNewValue()" class="btn btn-default" i18n="AddTerm">
                    <i class="glyphicon glyphicon-plus"></i> <span class="i18n"/>: <span class="label label-success">{{ el.searchValue }}</span>
                </button>
            </div>
        </div>
    </div>

</script>

<script type="text/ng-template" id="expert-instance.html">
    <div data-ng-include="'expert-field-label.html'"/>
    <div class="expert-left-col">
        <div class="panel-input vocabulary-element">
            <div data-ng-controller="InstanceController" class="vocabulary-input">
                <div ng-if="!el.value.Header">
                    <input type="text" class="form-control" ng-model="el.searchValue" data-ng-focus="setActiveEl(el)"/>
                </div>
                <div ng-if="el.value.Header">
                    <input ng-if="!isEditing(el)" type="text" class="form-control" ng-value="el.headerTitle" data-ng-focus="setActiveEl(el)"/>
                    <div ng-if="isEditing(el)">
                        <input type="text" class="form-control" ng-model="el.searchValue" autofocus="true"/>
                        <!-- DISPLAY CURRENT VALUE //-->
                        <div ng-show="el.value" i18n="CurrentValue" class="current">
                            <label><span class="i18n"/>:</label> <span class="value">{{ el.value.Header.SummaryFields.Title }}</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="expert-right-col">
        <div ng-if="isEditing(el)" data-ng-controller="InstanceSearchController" class="vocabulary-controls">
            <!-- DISPLAY MORE/LESS DETAIL TOGGLE //-->
            <div class="detail-controls">
                <!-- DISPLAY VALUE BEING SEARCHED FOR //-->
                <span i18n="SearchFor">
                    <label><span class="i18n"/>:</label>
                    <span class="value search-value">{{ el.searchValue }}</span>
                </span>
                <span i18n="MoreDetails" class="badge badge-info pointer pull-right" data-ng-click="showInstanceDetails()" data-ng-hide="instanceDetails">
                    <i class="icon-info-sign icon-white"></i> <span class="i18n"/>
                </span>
                <span i18n="LessDetails" class="badge badge-inverse pointer pull-right" data-ng-click="showInstanceDetails()" data-ng-show="instanceDetails">
                    <i class="icon-info-sign icon-white"></i> <span class="i18n"/>
                </span>
            </div>
            <!-- DISPLAY LIST OF RETURNED VALUES //-->
            <div ng-show="el.entries">
                <ul class="dropdown-menu vocabulary-list" role="menu" aria-labelledby="dLabel" style="display: block; position: static; margin-bottom: 5px; width: 98.5%;">
                    <li ng-repeat="entry in el.entries">
                        <a href ng-click="setValue(entry)">{{ entry.Header.SummaryFields.Title }}</a>
                        <div class="vocabulary-extended" ng-show="instanceDetails">
                            <div ng-include="getInstanceDetails(entry.Header.SchemaName)"></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="expert-media.html">
    <div data-ng-include="'expert-field-label.html'"/>
    <div class="expert-left-col">
        <div data-ng-controller="MediaElementController">
            <div class="digital-object-input">
                <div data-ng-show="isEditing(el)" class="media">
                    <div data-ng-show="el.value">
                        <div class="media-thumbnail">
                            <img ng-src="{{ el | mediaThumbnail }}" /><br/>
                            <div class="mime">{{ el | mediaMimeType }}</div>
                        </div>
                    </div>
                </div>
                <div data-ng-show="!isEditing(el)">
                    <div class="chosen-value" tabindex="0">
                        <div ng-show="!el.value" ng-click="enableMediaEditor(el)">
                            <span class="btn btn-default" i18n="Add"><span class="i18n"/></span>
                        </div>
                        <div data-ng-show="el.value">
                            <div ng-show="el.value" class="media-thumbnail">
                                <img ng-src="{{ el | mediaThumbnail }}" />
                                <div class="mime">{{ el | mediaMimeType }}</div>
                            </div>
                            <div class="media-controls">
                                <button ng-click="enableMediaEditor(el)" class="btn btn-small" i18n="EditMedia">
                                    <i class="icon-edit"></i>
                                    <span class="i18n"></span>
                                </button>
                                <button ng-show="isVideo(el)" class="btn btn-small" ng-click="openVideoPreview(el)" i18n="PreviewVideo" >
                                    <i class="icon icon-film"></i>
                                    <span class="i18n"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="expert-right-col" ng-if="isEditing(el)">
        <div ng-controller="MediaSearchController">
            <div class="navbar">
                <div class="btn-group">
                    <button class="btn btn-default" i18n="RefreshImageList" data-ng-click="refreshImageList()">
                        <i class="glyphicon glyphicon-refresh"></i>
                        <span class="i18n"/>
                    </button>
                    <button class="btn btn-primary pull-right" i18n="MediaUpload" data-ng-click="toggleMediaAside()">
                        <i class="glyphicon glyphicon-upload"></i>
                        <span class="i18n"/>
                    </button>
                </div>
            </div>
            <div class="media-thumbnails large" ng-show="mediaList">
                <ul class="list-unstyled list-inline">
                    <li data-ng-repeat="entry in mediaList" class="pointer">
                        <div class="media-thumb pointer">
                            <img id="oscr-media-grid-thumb-{{$index}}"
                                 ng-src="{{ entry.Header.Identifier | mediaThumbnail }}"
                                 ng-click="setValue(entry)"/>
                        </div>
                        <div class="mime">{{ entry | mediaMimeType }}</div>
                    </li>
                </ul>
            </div>

            <div data-ng-controller="MediaUploadController" data-ng-show="mediaAsideActive">
                <div class="aside-backdrop am-fade" style=""></div>
                <div class="aside right aside-media" tabindex="-1" role="dialog">
                    <div class="aside-dialog">
                        <div class="aside-content">
                            <div class="aside-header">
                                <button type="button" class="close" ng-click="toggleMediaAside()">×</button>
                                <h4 class="aside-title" i18n="MediaUpload"><span class="i18n"/></h4></div>
                        </div>
                        <div class="aside-body">
                            <div data-ng-include="'views/media-lite.html'"></div>
                        </div>
                        <div class="aside-footer">
                            <button type="button" class="btn btn-default" ng-click="toggleMediaAside()" i18n="Close"><span class="i18n"/></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

</script>

<script type="text/ng-template" id="expert-field-documentation.html">
    <div class="panel-input field-documentation-element" data-ng-controller="FieldDocumentationController">
        <div ng-hide="el.elements">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"><i class=" icon-info-sign"></i></span>
                    <h5>{{ el | elementTitle }}</h5>
                </div>
                <div class="widget-body">
                    <p ng-show="el.doc">{{ el | elementDoc }}</p>
                </div>
                <div class="widget-footer">
                    <button ng-click="openDocDialog(el)" class="btn btn-small"><i class="icon-edit"></i></button>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="expert-unrecognized.html">
    <div class="panel-input">
        unrecognized field type
    </div>
</script>

