<!--This file contains only templates, and is tied to the controllers in element-edit.js-->

<script type="text/ng-template" id="panel-submenu.html">
    <input el-focus="el" el-hidden-focus="el" style="opacity: 0; width: 0; height: 0; "/>
</script>

<script type="text/ng-template" id="panel-line.html">
    <div class="panel-input line-element">
        <div class="input-block-level" data-ng-controller="TextInputController">
            <div data-ng-show="isEditing(el)">
                <input el-focus="el" class="input-block-level" type="text" ng-model="el.value" />
                <div ng-show="el.invalidMessage">
                    <span class="label label-important">{{ el | invalidMessage }}</span>
                    <span ng-show="config.showTranslationEditor" ng-click="openLabelDialog(el.invalidMessage)"
                          class="badge badge-warning badge-i18n">
                          <i class="icon-translate icon-white"></i>
                    </span>
                </div>
            </div>
            <div data-ng-show="!isEditing(el)" ng-click="setEditing(true)">
                <input disabled class="input-block-level" type="text" ng-model="el.value" />
                <input el-hidden-focus="el" style="opacity: 0; width: 0; height: 0; "/>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="panel-paragraph.html">
    <div class="panel-input paragraph-element">
        <div class="textarea-input" data-ng-controller="TextInputController">
            <div data-ng-show="isEditing(el)">
                <textarea el-focus="el" ng-model="el.value" rows="5"></textarea>
            </div>
            <div data-ng-show="!isEditing(el)" ng-click="setEditing(true)">
                <textarea disabled ng-model="el.value" rows="5"></textarea>
                <input el-hidden-focus="el" style="opacity: 0; width: 0; height: 0; "/>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="panel-vocabulary.html">
    <div class="panel-input vocabulary-element">
        <div data-ng-controller="VocabularyController" class="vocabulary-input">
            <div data-ng-show="isEditing(el)">
                <input el-focus="el" type="text" ng-model="el.searchValue" class="input-block-level"/>
            </div>
            <div data-ng-show="!isEditing(el)" ng-click="setEditing(true)">
                <div data-ng-show="el.value">
                    <input type="text" disabled ng-model="el.value.Label" class="input-block-level"/>
                </div>
                <div data-ng-show="!el.value">
                    <input type="text" disabled value="-" class="input-block-level"/>
                </div>
                <input el-hidden-focus="el" style="opacity: 0; width: 0; height: 0; "/>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="panel-vocabulary-search.html">
    <div data-ng-controller="VocabularySearchController" class="vocabulary-controls">
        <!-- DISPLAY CURRENT VALUE //-->
        <div ng-show="el.value" i18n="CurrentValue" class="current">
            <label><span class="i18n"/>:</label> <span class="value">{{ el.value.Label }}</span>
        </div>
        <!-- DISPLAY VALUE BEING SEARCHED FOR //-->
        <div i18n="SearchingFor">
            <label><span class="i18n"/>:</label>
            <span class="value search-value">{{ el.searchValue }}</span>
        </div>
        <!-- DISPLAY ADD BUTTON FOR NEW VALUE //-->
        <span ng-hide="el.entries">
            <button ng-click="createNewValue()" class="btn btn-small" i18n="AddTerm">
                <i class="icon-plus"></i> <span class="i18n"/>: <span class="label label-success">{{ el.searchValue }}</span>
            </button>
        </span>
        <!-- DISPLAY LIST OF RETURNED VALUES //-->
        <div ng-show="el.entries">
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" style="display: block; position: static; margin-bottom: 5px; width: 97%;">
                <li ng-repeat="entry in el.entries">
                    <a href tabindex="-1"  ng-click="setValue(entry)">{{entry.Label}}</a>
                </li>
            </ul>
        </div>
    </div>
</script>

<script type="text/ng-template" id="panel-media.html">
    <div data-ng-controller="MediaElementController" class="panel-input media-element">
        <div data-ng-show="isEditing(el)" class="digital-object-input">
            <div ng-show="el.value" class="media">
                <div class="media-thumbnail">
                    <img ng-src="{{ el | mediaThumbnail }}" /><br/>
                    <div class="mime">{{ el.value.MimeType }}</div>
                </div>
                <div class="media-controls">
                    <!--<button ng-click="enableMediaEditor()" class="btn btn-small" i18n="EditMedia" >-->
                        <!--<i class="icon-edit"></i>-->
                        <!--<span class="i18n"></span>-->
                    <!--</button>-->
                    <!--<button ng-show="isVideo(el.value.MimeType)" class="btn btn-small" ng-click="openVideoPreview(el)" i18n="PreviewVideo" >-->
                        <!--<i class="icon icon-film"></i>-->
                        <!--<span class="i18n"></span>-->
                    <!--</button>-->
                </div>
            </div>
        </div>
        <div data-ng-show="!isEditing(el)" ng-click="setEditing(true)">
            <div class="chosen-value" tabindex="0" i18n="Add">
                <div ng-hide="el.value" ng-click="enableMediaEditor()">
                    <span class="btn"><span class="i18n"></span></span>
                </div>
                <div ng-show="el.value" class="media-thumbnail">
                    <img ng-src="{{ el | mediaThumbnail }}" />
                    <div class="mime">{{ el.value.MimeType }}</div>
                </div>
            </div>
        </div>
        <input el-hidden-focus="el" el-focus="el" style="opacity: 0; width: 0; height: 0; "/>
    </div>
</script>

<script type="text/ng-template" id="panel-media-search.html">
    <div ng-controller="MediaSearchController">
        <tabset class="media-tabs">
            <tab>
                <tab-heading>
                    <span class="nav-tabs" i18n="UploadedFiles" ng-click="refreshImageList()">
                    <span class="i18n"/>
                </tab-heading>
                <div ng-show="mediaList" class="oscr-media-grid">
                    <ul class="media-thumb-list">
                        <!--<li data-ng-repeat="entry in mediaList" data-ng-show="entry.Header.Identifier">-->
                        <li data-ng-repeat="entry in mediaList">
                            <div class="media-thumb pointer">
                                <img id="oscr-media-grid-thumb-{{$index}}"
                                     ng-src="{{ entry.Header.Identifier | mediaThumbnail }}"
                                     ng-click="selectMedia(entry)"/>
                            </div>
                            <div class="mime">{{ entry.Body.MimeType }}</div>
                        </li>
                    </ul>
                </div>
            </tab>
            <tab>
                <tab-heading>
                    <span class="nav-tabs" i18n="MediaUpload"><span class="i18n"/></span>
                </tab-heading>
                <div data-ng-controller="MediaUploadController" data-ng-include="'views/media-lite.html'"></div>
            </tab>
        </tabset>
    </div>
</script>

<script type="text/ng-template" id="panel-instance.html">
    <!--todo: eric styling-->
    <div class="panel-input vocabulary-element">
        <div data-ng-controller="InstanceController" class="vocabulary-input">
            <div data-ng-show="isEditing(el)">
                <input el-focus="el" type="text" ng-model="el.searchValue" class="input-block-level"/>
            </div>
            <div data-ng-show="!isEditing(el)" ng-click="setEditing(true)">
                <div data-ng-show="el.value">
                    <input type="text" disabled ng-model="el.value.SummaryFields.Title" class="input-block-level"/>
                </div>
                <div data-ng-show="!el.value">
                    <input type="text" disabled value="-" class="input-block-level"/>
                </div>
                <input el-hidden-focus="el" style="opacity: 0; width: 0; height: 0; "/>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="panel-instance-search.html">
    <!--todo: eric styling-->
    <div data-ng-controller="InstanceSearchController" class="vocabulary-controls">
        <!-- DISPLAY CURRENT VALUE //-->
        <div ng-show="el.value" i18n="CurrentValue" class="current">
            <label><span class="i18n"/>:</label> <span class="value">{{ el.value.SummaryFields.Title }}</span>
        </div>
        <!-- DISPLAY VALUE BEING SEARCHED FOR //-->
        <div i18n="SearchingFor">
            <label><span class="i18n"/>:</label>
            <span class="value search-value">{{ el.searchValue }}</span>
        </div>
        <div ng-show="el.entries">
            <!-- DISPLAY MORE/LESS DETAIL TOGGLE //-->
        <div class="detail-controls">
            <span i18n="Found">
                <label><span class="i18n"/>:</label>
            </span>
            <span i18n="MoreDetails" class="badge badge-info pointer pull-right" data-ng-click="showInstanceDetails()" data-ng-hide="instanceDetails">
                <i class="icon-info-sign icon-white"></i> <span class="i18n"/>
            </span>
            <span i18n="LessDetails" class="badge badge-inverse pointer pull-right" data-ng-click="showInstanceDetails()" data-ng-show="instanceDetails">
                <i class="icon-info-sign icon-white"></i> <span class="i18n"/>
            </span>
        </div>



            <!-- DISPLAY LIST OF RETURNED VALUES //-->
            <ul class="dropdown-menu vocabulary-list" role="menu" aria-labelledby="dLabel" style="display: block; position: static; margin-bottom: 5px; width: 97%;">
                <li ng-repeat="entry in el.entries">
                    <a href tabindex="-1"  ng-click="setValue(entry)">{{ entry.Header.SummaryFields.Title }}</a>
                    <div class="vocabulary-extended" ng-show="instanceDetails" data-ng-switch="entry.Header.SchemaName">

                        <table data-ng-switch-when="Person" class="table-condensed table-vocabulary-details">
                            <tr ng-show="entry.Body.Person.Birth.DateOfBirth">
                                <th i18n="DateOfBirth"><span class="i18n"/></th>
                                <td>{{ entry.Body.Person.Birth.DateOfBirth }}</td>
                            </tr>
                            <tr ng-show="entry.Body.Person.Birth.PlaceOfBirth.SummaryFields.Title">
                                <th i18n="PlaceOfBirth"><span class="i18n"/></th>
                                <td>{{ entry.Body.Person.Birth.PlaceOfBirth.SummaryFields.Title }}</td>
                            </tr>
                            <tr ng-show="entry.Body.Person.Appelation">
                                <th i18n="Appelation"><span class="i18n"/></th>
                                <td>{{ entry.Body.Person.Appelation }}</td>
                            </tr>
                            <tr ng-show="entry.Body.Person.GivenName">
                                <th i18n="GivenName"><span class="i18n"/></th>
                                <td>{{ entry.Body.Person.GivenName }}</td>
                            </tr>
                            <tr ng-show="entry.Body.Person.SurnamePrefix">
                                <th i18n="SurnamePrefix"><span class="i18n"/></th>
                                <td>{{ entry.Body.Person.SurnamePrefix }}</td>
                            </tr>
                            <tr ng-show="entry.Body.Person.Surname">
                                <th i18n="Surname"><span class="i18n"/></th>
                                <td>{{ entry.Body.Person.Surname }}</td>
                            </tr>
                        </table>

                        <table data-ng-switch-when="Location" class="table-condensed table-vocabulary-details">
                            <tr ng-show="entry.Body.Location.LocationName.Appelation">
                                <th i18n="Appelation"><span class="i18n"/></th>
                                <td>{{  entry.Body.Location.LocationName.Appelation  }}</td>
                            </tr>
                            <tr ng-show="entry.Body.Location.GeonamesURI">
                                <th i18n="GeonamesURI"><span class="i18n"/></th>
                                <td>
                                    <a href="{{ entry.Body.Location.GeonamesURI }}" target="_blank">
                                        {{  entry.Body.Location.GeonamesURI  }}
                                    </a>
                                </td>
                            </tr>
                            <tr ng-show="entry.Body.Location.Coordinates.Longitude">
                                <th i18n="Longitude"><span class="i18n"/></th>
                                <td>{{ entry.Body.Location.Coordinates.Longitude   }}</td>
                            </tr>
                            <tr ng-show="entry.Body.Location.Coordinates.Latitude">
                                <th i18n="Latitude"><span class="i18n"/></th>
                                <td>{{ entry.Body.Location.Coordinates.Latitude }}</td>
                            </tr>
                        </table>




                    </div>
                </li>
            </ul>
        </div>
    </div>
</script>



<script type="text/ng-template" id="panel-field-documentation.html">
    <div class="panel-input field-documentation-element" data-ng-controller="FieldDocumentationController">
        <div ng-hide="el.elements">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"><i class=" icon-info-sign"></i></span>
                    <h5>{{ el | elementTitle }}</h5>
                </div>
                <div class="widget-body">
                    <p ng-show="el.doc">{{ el | elementDoc }}</p>
                </div>
                <div class="widget-footer">
                    <button ng-click="openDocDialog(el)" class="btn btn-small"><i class="icon-edit"></i></button>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template"  id="panel-unrecognized.html">
    <div class="panel-input">
        <span class="label">UNRECOGNIZED ELEMENT!</span>
    </div>
</script>


