<!--This file contains only templates, and is tied to the controllers in element-edit.js-->

<script type="text/ng-template" id="expert-field-label.html">
    <legend i18n="{{ el.name }}" class="" ng-class="{'active' : isEditing(el)}">
        <div class="field-controls">
            <span class="icon-item status status-{{ el.invalid }}"></span>
            <span ng-show="el.config.multiple"
                  class="display-{{ el.config.multiple }} icon-item pointer"
                  ng-click="addSibling(el)">
                    <i class="glyphicon glyphicon-plus-sign icon-white"></i>
            </span>
            <span ng-show="el.config.multiple"
                  class="display-{{ el.config.multiple }} icon-item pointer"
                  ng-click="removeSibling(el)">
                    <i class="glyphicon glyphicon-minus-sign icon-white"></i>
            </span>
        </div>
        <span class="i18n"></span>:
    </legend>
</script>

<script type="text/ng-template" id="expert-submenu.html">
    <div data-ng-include="'expert-field-label.html'"/>
    <div data-ng-controller="ExpertSubtreeController" ng-init="setParentEl(el)">
        <div class="field indent" ng-repeat="(elIndex, el) in parentEl.elements">
            <div data-ng-controller="ExpertElementController">
                <div ng-include="getExpertEditTemplate(el)"/>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="expert-line.html">
    <div data-ng-include="'expert-field-label.html'"/>
    <div class="expert-left-col">
        <div class="panel-input line-element">
            <div class="" data-ng-controller="TextInputController">
                <input class="form-control" type="text" ng-model="el.value" data-ng-focus="setActiveEl(el)"/>
                <div ng-show="el.invalidMessage">
                    <span class="label label-warning">{{ el | invalidMessage }}</span>
                    <span ng-show="config.showTranslationEditor" ng-click="openLabelDialog(el.invalidMessage)"
                          tooltip-placement="right" class="badge badge-warning badge-i18n">
                          <i class="glyphicon glyphicon-globe"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="expert-right-col"></div>
</script>

<script type="text/ng-template" id="expert-paragraph.html">
    <div data-ng-include="'expert-field-label.html'"/>
    <div class="expert-left-col">
        <div class="panel-input paragraph-element">
            <div class="textarea-input" data-ng-controller="TextInputController">
                <textarea class=" form-control" ng-model="el.value" rows="5" data-ng-focus="setActiveEl(el)"></textarea>
            </div>
        </div>
    </div>
    <div class="expert-right-col"></div>
</script>

<script type="text/ng-template" id="expert-vocabulary.html">
    <div data-ng-include="'expert-field-label.html'"/>
    <div class="expert-left-col">
        <div class="panel-input vocabulary-element">
            <div data-ng-controller="VocabularyController" class="vocabulary-input">
                <div ng-if="!el.value">
                    <input type="text" class="form-control" ng-model="el.searchValue" data-ng-focus="setActiveEl(el)"/>
                </div>
                <div ng-if="el.value">
                    <input ng-if="!isEditing(el)" type="text" class="form-control" ng-model="el.value.Label" data-ng-focus="setActiveEl(el)"/>
                    <input ng-if="isEditing(el)" type="text" class="form-control" ng-model="el.searchValue" autofocus="true"/>
                </div>
            </div>
        </div>
    </div>
    <div class="expert-right-col">
        <div  data-ng-if="isEditing(el)" data-ng-controller="VocabularySearchController" class="vocabulary-controls">
            <!-- DISPLAY CURRENT VALUE //-->
            <div ng-show="el.value" i18n="CurrentValue" class="current">
                <label><span class="i18n"/>:</label> <span class="value">{{ el.value.Label }}</span>
            </div>
            <!-- DISPLAY VALUE BEING SEARCHED FOR //-->
            <div i18n="SearchFor">
                <label><span class="i18n"/>:</label>
                <span class="value search-value">{{ el.searchValue }}</span>
            </div>
            <!-- DISPLAY LIST OF RETURNED VALUES //-->
            <div ng-if="el.entries">
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" style="display: block; position: static; margin-bottom: 5px; width: 97%;">
                    <li ng-repeat="entry in el.entries">
                        <a href tabindex="-1"  ng-click="setValue(entry)">{{entry.Label}}</a>
                        <div class="vocabulary-extended" ng-show="instanceDetails">
                            <div ng-include="getInstanceDetails(entry.Header.SchemaName)"></div>
                        </div>
                    </li>
                </ul>
            </div>
            <div ng-show="el.entries && el.entries.length == 0  && !el.config.vocabularyFixed">
                <button ng-click="createNewValue()" class="btn btn-default" i18n="AddTerm">
                    <i class="glyphicon glyphicon-plus"></i> <span class="i18n"/>: <span class="label label-success">{{ el.searchValue }}</span>
                </button>
            </div>
        </div>
    </div>

</script>

<script type="text/ng-template" id="expert-instance.html">
    <div data-ng-include="'expert-field-label.html'"/>
    <div class="expert-left-col">
        <div class="panel-input vocabulary-element">
            <div data-ng-controller="InstanceController" class="vocabulary-input">
                <div ng-if="!el.value.Header">
                    <input type="text" class="form-control" ng-model="el.searchValue" data-ng-focus="setActiveEl(el)"/>
                </div>
                <div ng-if="el.value.Header">
                    <input ng-if="!isEditing(el)" type="text" class="form-control" ng-value="el.headerTitle" data-ng-focus="setActiveEl(el)"/>
                    <div ng-if="isEditing(el)">
                        <input type="text" class="form-control" ng-model="el.searchValue" autofocus="true"/>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="expert-right-col">
        <div ng-show="isEditing(el)" data-ng-controller="InstanceSearchController" class="vocabulary-controls">
            <!-- DISPLAY CURRENT VALUE //-->
            <div ng-show="el.value" i18n="CurrentValue" class="current">
                <label><span class="i18n"/>:</label> <span class="value">{{ el.value.Header.SummaryFields.Title }}</span>
            </div>
            <!-- DISPLAY VALUE BEING SEARCHED FOR //-->
                <span i18n="SearchFor">
                    <label><span class="i18n"/>:</label>
                    <span class="value search-value">{{ el.searchValue }}</span>
                </span>
            <ul data-ng-show="el.schemaList" class="list-unstyled list-inline list-tags">
                <li data-ng-repeat="schemaChoice in el.schemaList">
                <span i18n="{{ schemaChoice }}">
                    <span data-ng-class="{ 'badge-info': schemaChoice == el.schema }" class="badge pointer i18n" data-ng-click="switchSchemas(schemaChoice)"/>
                </span>
                </li>
            </ul>
            <!-- DISPLAY MORE/LESS DETAIL TOGGLE //-->
            <div class="detail-controls">
                <span i18n="Found">
                    <label><span class="i18n"/>:</label>
                </span>
                <span i18n="MoreDetails" class="badge badge-info pointer pull-right" data-ng-click="showInstanceDetails()" data-ng-hide="instanceDetails">
                    <i class="icon-info-sign icon-white"></i> <span class="i18n"/>
                </span>
                <span i18n="LessDetails" class="badge badge-inverse pointer pull-right" data-ng-click="showInstanceDetails()" data-ng-show="instanceDetails">
                    <i class="icon-info-sign icon-white"></i> <span class="i18n"/>
                </span>
            </div>
            <!-- DISPLAY LIST OF RETURNED VALUES //-->
            <div ng-show="el.entries">
                <ul class="dropdown-menu vocabulary-list" role="menu" aria-labelledby="dLabel" style="display: block; position: static; margin-bottom: 5px; width: 100%;">
                    <li ng-repeat="entry in el.entries">
                        <a href ng-click="setValue(entry)">{{ entry.Header.SummaryFields.Title }}</a>
                        <div class="vocabulary-extended" ng-show="instanceDetails">
                            <div ng-include="getInstanceDetails(entry.Header.SchemaName)"></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="expert-media.html">
    <div data-ng-include="'expert-field-label.html'"/>
    <div class="expert-left-col">
        <div data-ng-controller="MediaElementController" class="panel-input media-element">
            <div ng-show="!el.value">
                <button class="btn btn-default" ng-click="toggleMediaAsideList();enableMediaEditor(el);" i18n="Add"><span class="i18n"></span></button>
            </div>
            <div ng-show="el.value" class="media">
                <div class="media-thumbnail">
                    <img ng-src="{{ el | mediaThumbnail }}" /><br/>
                    <div class="mime">{{ el | mediaMimeType }}</div>
                </div>
                <button class="btn btn-default" ng-click="toggleMediaAsideList();enableMediaEditor(el);" i18n="Change"><span class="i18n"></span></button>
            </div>
            <input type="hidden" data-ng-focus="setActiveEl(el);" name="media-focus"/>
        </div>
    </div>
    <div class="expert-right-col">
        <div ng-controller="MediaController" data-ng-if="isActiveEl(el)">
            <div oscr-media-aside-select ng-controller="MediaInputController" ng-show="showMediaSelect"></div>
            <div oscr-media-aside-upload ng-show="showMediaUpload"></div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="expert-field-documentation.html">
    <div class="panel-input field-documentation-element" data-ng-controller="FieldDocumentationController">
        <div ng-hide="el.elements">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"><i class=" icon-info-sign"></i></span>
                    <h5>{{ el | elementTitle }}</h5>
                </div>
                <div class="widget-body">
                    <p ng-show="el.doc">{{ el | elementDoc }}</p>
                </div>
                <div class="widget-footer">
                    <button ng-click="openDocDialog(el)" class="btn btn-small"><i class="icon-edit"></i></button>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="expert-unrecognized.html">
    <div class="panel-input">
        unrecognized field type
    </div>
</script>

