<div class="fade-in">

    <div class="page-header">
        <h1 i18n="User"><span class="i18n"/> <small>{{ Identifier }}</small></h1>
    </div>


    <div class="media">
        <span class="pull-left">
            <gravatar-image ng-show="userView"  data-email="userView.Profile.email" data-size="160" data-default="mm" data-secure="false"></gravatar-image>
        </span>

        <div class="media-body">
            <ul ng-show="userView" class="label-list">
                <li>
                    <label i18n="Name"><span class="i18n"/></label>
                    {{ userView.Profile.firstName }} {{ userView.Profile.lastName }}
                </li>
                <li>
                    <label i18n="Email"><span class="i18n"/></label>
                    {{ userView.Profile.email }}
                </li>
                <li>
                    <label i18n="Group"><span class="i18n"/></label>
                    {{ userView.group.Name }}
                </li>
                <li>
                    <label i18n="Role"><span class="i18n"/></label>
                    <span class="label {{ userView.Membership.Role }}">{{ userView.Membership.Role }}</span>
                </li>
            </ul>
        </div>
    </div>

</div>