<!--This file contains only templates, and is tied to the controllers in document-edit.js-->

<script type="text/ng-template" id="line-view.html">
    <label class="label">{{el.name}}:</label>
    <span class="data">{{ el.value }}</span>
</script>

<script type="text/ng-template" id="paragraph-view.html">
    <label class="label">{{el.name}}:</label>
    <span class="data">{{ el.value }}</span>
</script>

<script type="text/ng-template" id="vocabulary-view.html">
    <label class="label">{{el.name}}:</label>
    <span class="data">{{ el.value.Label }}</span>
</script>

<script type="text/ng-template" id="media-view.html">
    <label class="label">{{el.name}}:</label>
        <div class="field indent">
            <label class="label" i18n="MimeType"><span class="i18n">MimeType</span></label>
            <span class="data">{{ el.value.MimeType }}</span>
         </div>
        <div class="field indent">
            <label class="label" i18n="Thumbnail"><span class="i18n">Thumbnail</span></label>
            <span class="data">
                <img ng-src="{{ el | mediaThumbnail }}" alt="{{ el.name }}"/>
            </span>
        </div>
</script>

<script type="text/ng-template" id="media-view-extended.html">
    <h1>test</h1>
</script>

<script type="text/ng-template" id="submenu-view.html">
    <label class="label">{{el.name}}:</label>
    <div class="field indent" ng-repeat="el in el.elements" ng-include="getElementViewer(el)" ng-show="el.value"></div>
</script>

<script type="text/ng-template"  id="unrecognized-view.html">
    <div class="panel-input">
        <span class="label">UNRECOGNIZED VIEW!</span>
    </div>
</script>
